{% extends 'base.html' %}
{% load static %}


{% block title %}لیست هزینه‌ها{% endblock %}

{% block page_title %}لیست هزینه‌ها{% endblock %}


{% block main %}

    {% include 'partials/messages.html' with messages=messages not_found=not_found %}

    <div class="card">
        
        <div class="card-body">
    
        <div id="example1_wrapper" class="dataTables_wrapper dt-bootstrap4">
    
{% include 'partials/search_print.html' with search_url=search_url date_filter=False list_url=list_url create_url=create_url title='ثبت هزینه‌' %}
    
            <div class="row">
                <div class="col-sm-12 table-responsive">
                    <table id="data-table" class="table table-bordered table-striped sortable" role="grid" aria-describedby="example1_info">
                        <thead>
                            <tr role="row">
    
                                <th class="text-center border-bottom-0 rounded-0" rowspan="1" colspan="1" style="width: 60.797px;">
                                    ردیف
                                </th>

                                <th class="text-center border-bottom-0" rowspan="1" colspan="1" style="width: 180.797px;">
                                    پروژه                                
                                </th>
    
                                <td class="text-center text-light" rowspan="1" colspan="4" style="width: 172.094px; background-color: #808080;">
                                    هزینه انشعابات
                                </td>
    
                                <td class="text-center text-light" rowspan="1" colspan="4" style="width: 172.797px; background-color: #808080;">
                                    هزینه‌های نظام مهندسی
                                </td>
    
                                <td class="text-center text-light" rowspan="1" colspan="2" style="width: 172.797px; background-color: #808080;">
                                    هزینه‌های شهرداری
                                </td>
    
                                <th class="text-center border-bottom-0 rounded-0 action-th" rowspan="1" colspan="1" style="width: 190.797px;">
                                    اقدام
                                </th>
                            </tr>
                        </thead>
                        <thead>
                            <tr role="row">
    
                                <td class="border-top-0 rounded-0" rowspan="1" colspan="1" style="width: 60.797px; background-color: #808080;">
                                    
                                </td>

                                <td class="border-top-0" rowspan="1" colspan="1" style="width: 180.797px; background-color: #808080;">
                                                                    
                                </td>
    
                                <th class="text-center" rowspan="1" colspan="1" style="width: 70.094px;">
                                    هزینه انشعاب آب
                                </th>
    
                                <th class="text-center" rowspan="1" colspan="1" style="width: 70.797px;">
                                    هزینه انشعاب برق
                                </th>
    
                                <th class="text-center" rowspan="1" colspan="1" style="width: 70.797px;">
                                    هزینه انشعاب گاز
                                </th>
    
                                <th class="text-center border-left" rowspan="1" colspan="1" style="width: 70.797px;">
                                    هزینه اشتراک تلفن
                                </th>

                                <th class="text-center border-left" rowspan="1" colspan="1" style="width: 75.797px;">
                                    هزینه دفتر طراح
                                </th>

                                <th class="text-center border-left" rowspan="1" colspan="1" style="width: 75.797px;">
                                    هزینه ناظرین
                                </th>

                                <th class="text-center border-left" rowspan="1" colspan="1" style="width: 75.797px;">
                                    هزینه نظام مهندسی
                                </th>

                                <th class="text-center border-left" rowspan="1" colspan="1" style="width: 75.797px;">
                                    هزینه نقشه کروکی
                                </th>

                                <th class="text-center border-left" rowspan="1" colspan="1" style="width: 75.797px;">
                                    هزینه صدور پروانه
                                </th>

                                <th class="text-center border-left" rowspan="1" colspan="1" style="width: 75.797px;">
                                    هزینه صدور پایان کار
                                </th>
    
                                <td class="border-top-0 rounded-0 action-th" rowspan="1" colspan="1" style="width: 300.797px; background-color: #808080;">
                                    
                                </td>
                            </tr>
                        </thead>
                        <tbody>
                            {% for cost in costs %}
                                <tr role="row" class="odd">
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ cost.project }}</td>

                                    {# branches costs #}
                                    <td data-sort="{{ cost.water_branch }}">
                                        {{ cost.formatted_water_branch }}
                                    </td>
                                    <td data-sort="{{ cost.electricity_branch }}">
                                        {{ cost.formatted_electricity_branch }}
                                    </td>
                                    <td data-sort="{{ cost.gas_branch }}">
                                        {{ cost.formatted_gas_branch }}
                                    </td>
                                    <td data-sort="{{ cost.phone_subscription }}">
                                        {{ cost.formatted_phone_subscription }}
                                    </td>
                                    
                                    {# engineer costs #}
                                    <td data-sort="{{ cost.designer_office }}">
                                        {{ cost.formatted_designer_office }}
                                    </td>
                                    <td data-sort="{{ cost.supervisors }}">
                                        {{ cost.formatted_supervisors }}
                                    </td>
                                    <td data-sort="{{ cost.engineer_system }}">
                                        {{ cost.formatted_engineer_system }}
                                    </td>
                                    <td data-sort="{{ cost.sketch_map }}">
                                        {{ cost.formatted_sketch_map }}
                                    </td>
                                    
                                    {# mayoralty costs #}
                                    <td data-sort="{{ cost.export_permit }}">
                                        {{ cost.formatted_export_permit }}
                                    </td>
                                    <td data-sort="{{ cost.export_end_work }}">
                                        {{ cost.formatted_export_end_work }}
                                    </td>
                                    
                                    <td class="action-td text-center d-flex">

                                        <a href="{% url 'projects:cost_update' cost.pk %}" 
                                        class="btn btn-outline-info mb-2 pb-0" title="ویرایش">
                                        <i class="fa-solid fa-pen-to-square"></i>
                                        </a>

                                        <a href="javascript:void(0)"  
                                        data-toggle="modal"
                                        class="btn btn-outline-danger mb-2 ml-2 pb-0"
                                        data-url="{% url 'projects:cost_delete' pk=cost.pk %}"
                                        data-target="#deleteItemModal" title="حذف"
                                        data-message="آیا از حذف هزینه‌های پروژه '{{ cost.project }}' اطمینان دارید؟">
                                        <i class="fa-solid fa-xmark" style="font-size: 1.2rem;"></i>
                                        </a>
                                       
                                    </td>
                                </tr>
                            {% endfor %}
                            

                        </tbody>
                    
                    </table>
                </div>
            </div>

            {% include 'partials/confirm_delete.html' with obj_name=persian_object_name %}
    
            {% include 'partials/pagination.html' with page_obj=page_obj %}
    
        </div>
        </div>
    </div> 


{% endblock %}


{% block scripts %}

    <script src="{% static 'panel/dist/js/printThis.min.js' %}"></script>
    <script type="text/javascript" src="https://unpkg.com/xlsx@0.15.1/dist/xlsx.full.min.js"></script>
    <script src="{% static 'panel/dist/js/custom.js' %}"></script>
    <script src="{% static 'panel/dist/js/confirm_delete.js' %}"></script>
    <script src="{% static 'panel/dist/js/export_excel.js' %}"></script>

    <script>
        $(document).ready(function() {
            $("#search-btn").click(function() {
                if($('#search-input').val() != ''){
                    $("#search-form").submit();
               }
            });
        });
    </script>

{% endblock %}