{% extends 'base_list.html' %}
{% load static %}
{% load base_tags %}

{% block title %}لیست هزینه‌ها{% endblock %}

{% block page_title %}لیست هزینه‌ها{% endblock %}

{% block filter %}
    {% include 'partials/search_print.html' with search_url=search_url date_filter=False list_url=list_url create_url=create_url title='ثبت هزینه‌' create_perm=perms.projects.add_costs %}
{% endblock %}

{% block record_control %}
    {% if 'search' in request.resolver_match.url_name %}
        {% objects_records None search_url record_number records_count fields_order order_by list_filters %}
    {% else %}
        {% objects_records list_url None record_number records_count fields_order order_by %}
    {% endif %}
{% endblock %}

{% block table %}
    {% include "projects/tables/costs_table.html" %}
{% endblock %}

{% block pagination %}
    {% include 'partials/objects_pagination.html' %}
{% endblock %}

{% block filter_control %}
    <script src="{% static 'scripts/projects/costs_list.js' %}"></script>
{% endblock %}