{% extends 'base_list.html' %}
{% load static %}

{% block title %}لیست مالکین{% endblock %}

{% block page_title %}لیست مالکین{% endblock %}

{% block filter %}
    {% include 'partials/search_print.html' with search_url=search_url date_filter=False list_url=list_url create_url=create_url title='افزودن مالک' create_perm=perms.projects.add_owners %}
{% endblock %}

{% block table %}
    {% include "projects/tables/owners_table.html" %}
{% endblock %}

{% block pagination %}
    {% include 'projects/paginations/owners_pagination.html' with page_obj=page_obj %}
{% endblock %}
    
{% block filter_control %}
    <script src="{% static 'scripts/projects/owners_list.js' %}"></script>
{% endblock %}