{% extends 'base.html' %}
{% load static %}


{% block title %}لیست مالکین{% endblock %}

{% block page_title %}لیست مالکین{% endblock %}


{% block main %}

    {% include 'partials/messages.html' with messages=messages not_found=not_found %}

    <div class="card">
        
        <div class="card-body">
    
        <div id="example1_wrapper" class="dataTables_wrapper dt-bootstrap4">
    
            {% include 'partials/search_print.html' with search_url=search_url %}
    
            <div class="row">
                <div class="col-sm-12 table-responsive">
                    <table id="data-table" class="table table-bordered table-striped sortable" role="grid" aria-describedby="example1_info">
                        <thead>
                            <tr role="row">
    
                                <th class="text-center" rowspan="1" colspan="1" style="width: 60.797px;">
                                    ردیف
                                </th>

                                <th class="text-center" rowspan="1" colspan="1" style="width: 172.797px;">
                                    نام و نام خانوادگی
                                </th>
    
                                <th class="text-center" rowspan="1" colspan="1" style="width: 236.094px;">
                                    شماره تماس
                                </th>
    
                                <th class="text-center" rowspan="1" colspan="1" style="width: 172.797px;">
                                    تصویر کارت ملی
                                </th>
    
                                <th class="text-center" rowspan="1" colspan="1" style="width: 172.797px;">
                                    تصویر شناسنامه
                                </th>
    
                                <th class="text-center border-left" rowspan="1" colspan="1" style="width: 172.797px;">
                                    تصویر سند مالکیت
                                </th>
    
                                <th class=" text-center action-th" rowspan="1" colspan="1" style="width: 172.797px;">
                                    اقدام
                                </th>
                            </tr>
                        </thead>
                        <tbody>
    
                            {% for owner in owners %}
                                <tr role="row" class="odd">
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ owner.full_name }}</td>
                                    <td>{{ owner.phone }}</td>
                                    <td class="text-center">
                                        <a href="#">
                                            <img src="{{ owner.national_card_image.url }}" 
                                            class="img-fluid rounded" width="100" height="70" alt="national card image">
                                        </a>
                                    </td>
                                    <td class="text-center">
                                        <a href="#">
                                            <img src="{{ owner.birth_certificate_image.url }}" 
                                            class="img-fluid rounded" width="100" height="70" alt="birth certificate image">
                                        </a>
                                    </td>
                                    <td class="text-center">
                                        <a href="#">
                                            <img src="{{ owner.ownership_document_image.url }}" 
                                            class="img-fluid rounded" width="100" height="70" alt="ownership document image">
                                        </a>
                                    </td>
                                    <td class="action-td">
                                        <a href="{% url 'projects:owner_update' owner.pk %}" 
                                        class="btn btn-outline-info mb-2">
                                            ویرایش
                                        </a>
                                        <a href="javascript:void(0)"  
                                        data-toggle="modal"
                                        class="btn btn-outline-danger mb-2 ml-2"
                                        data-url="{% url 'projects:owner_delete' pk=owner.pk %}"
                                        data-target="#deleteItemModal"
                                        data-message="آیا از حذف '{{ owner.full_name }}' اطمینان دارید؟">
                                            حذف
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
    
                            
    
                        </tbody>
                    
                    </table>
                </div>
            </div>

            {% include 'partials/confirm_delete.html' with obj_name=persian_object_name %}
    
            {% include 'partials/pagination.html' with page_obj=page_obj %}
    
        </div>
        </div>
    </div> 


{% endblock %}


{% block scripts %}

    <script src="{% static 'panel/dist/js/printThis.min.js' %}"></script>
    <script src="{% static 'panel/dist/js/custom.js' %}"></script>
    <script src="{% static 'panel/dist/js/confirm_delete.js' %}"></script>

{% endblock %}