{% extends 'base_create_update.html' %}

{% block title %}
    {% if request.resolver_match.url_name == 'payments_image_create' %}
        ثبت تصاویر فیش‌های پرداختی
    {% else %}
        ویرایش تصاویر فیش‌های پرداختی
    {% endif %} 
{% endblock %}

{% block page_title %}
    {% if request.resolver_match.url_name == 'payments_image_create' %}
        <span>ثبت تصاویر فیش‌های پرداختی</span>
    {% else %}
        <span>ویرایش تصاویر فیش‌های پرداختی</span>
    {% endif %}
{% endblock %}

{% block form %}
	{% include "projects/forms/payments_image_form.html" %}
{% endblock %}