{% extends 'base_list.html' %}
{% load static %}

{% block title %}لیست تصاویر فیش‌های پرداختی{% endblock %}

{% block page_title %}لیست تصاویر فیش‌های پرداختی{% endblock %}

{% block filter %}
    {% include 'partials/search_print.html' with search_url=search_url date_filter=False list_url=list_url create_url=create_url title='ثبت تصاویر فیش‌های پرداختی' create_perm=perms.projects.add_paymentsimages %}
{% endblock %}

{% block table %}
    {% include 'projects/tables/payments_image_table.html' %}
{% endblock %}

{% block pagination %}
    {% include 'projects/paginations/payments_images_pagination.html' with page_obj=page_obj %}
{% endblock %}

{% block filter_control %}
    <script src="{% static 'scripts/projects/payments_images_list.js' %}"></script>
{% endblock %}