{% extends 'base_create_update.html' %}
{% load static %}

{% block title %}
    {% if request.resolver_match.url_name == 'project_create' %}
        افزودن پروژه
    {% else %}
        ویرایش پروژه
    {% endif %} 
{% endblock %}

{% block page_title %}
    {% if request.resolver_match.url_name == 'project_create' %}
        <span>افزودن پروژه</span>
    {% else %}
        <span>ویرایش پروژه</span>
    {% endif %}
{% endblock %}

{% block form %}
	{% include "projects/forms/project_form.html" %}
{% endblock %}

{% block form_control %}
    <script src="{% static 'scripts/projects/project_form.js' %}"></script>
{% endblock %}