{% extends 'base.html' %}
{% load static %}
{% load render_partial %}

{% block title %}لیست پروژه‌ها{% endblock %}

{% block page_title %}لیست پروژه‌ها{% endblock %}


{% block main %}

    {% include 'partials/messages.html' with messages=messages not_found=not_found %}

    <div class="card">
        
        <div class="card-body">
    
        <div id="example1_wrapper" class="dataTables_wrapper dt-bootstrap4">
    
            {% include 'partials/search_print.html' with search_url=search_url %}
    
            <div class="row">
                <div class="col-sm-12 table-responsive">
                    <table id="data-table" class="table table-bordered table-striped sortable" role="grid" aria-describedby="example1_info">
                        <thead>
                            <tr role="row">
    
                                <th class="text-center" rowspan="1" colspan="1" style="width: 60.797px;">
                                    ردیف
                                </th>

                                <th class="text-center" rowspan="1" colspan="1" style="width: 172.797px;">
                                    عنوان پروژه                                
                                </th>
    
                                <th class="text-center" rowspan="1" colspan="1" style="width: 236.094px;">
                                    نوع قرارداد
                                </th>
    
                                <th class="text-center" rowspan="1" colspan="1" style="width: 172.797px;">
                                    مالکین
                                </th>
    
                                <th class="text-center" rowspan="1" colspan="1" style="width: 172.797px;">
                                    دستمزد قرارداد پیمانی
                                </th>
    
                                <th class="text-center border-left" rowspan="1" colspan="1" style="width: 172.797px;">
                                    درصد قرارداد پیمانی
                                </th>
    
                                <th class=" text-center action-th" rowspan="1" colspan="1" style="width: 172.797px;">
                                    اقدام
                                </th>
                            </tr>
                        </thead>
                        <tbody>
    
                            {% for project in projects %}
                                <tr role="row" class="odd">
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ project.title }}</td>
                                    <td>
                                        {% if project.contract_type == 'pc' %}
                                            <span>مشارکت در ساخت</span>
                                        {% elif project.contract_type == 'ow' %}
                                            <span>مالکیت</span>
                                        {% elif project.contract_type == 'pa' %}
                                            <span>شراکتی</span>
                                        {% else %}
                                            <span>پیمانی</span>
                                        {% endif %}
                                    </td>
                                    <td>
                                        {{ project.owners_to_str }}
                                    </td>
                                    {% if project.contractual_salary == 0 %}
                                        <td class="text-center">
                                            <span style="font-size:1.5rem;">_</span>
                                        </td>
                                    {% else %}
                                        <td>
                                            {{ project.contractual_salary }}
                                        </td>
                                    {% endif %}

                                    {% if project.contractual_salary == 0.00 %}
                                        <td class="text-center">
                                            <span style="font-size:1.5rem;">_</span>
                                        </td>
                                    {% else %}
                                        <td>
                                            {{ project.contractual_percentage }}
                                        </td>
                                    {% endif %}
                                    
                                    <td class="action-td">
                                        <a href="{% url 'projects:project_update' project.pk %}" 
                                        class="btn btn-outline-info mb-2">
                                            ویرایش
                                        </a>
                                        <a href="javascript:void(0)"  
                                        data-toggle="modal"
                                        class="btn btn-outline-danger mb-2 ml-2"
                                        data-url="{% url 'projects:project_delete' pk=project.pk %}"
                                        data-target="#deleteItemModal"
                                        data-message="آیا از حذف پروژه '{{ project.title }}' اطمینان دارید؟">
                                            حذف
                                        </a>
                                       
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    
                    </table>
                </div>
            </div>

            {% include 'partials/confirm_delete.html' with obj_name=persian_object_name %}
    
            {% include 'partials/pagination.html' with page_obj=page_obj %}
    
        </div>
        </div>
    </div> 


{% endblock %}


{% block scripts %}

    <script src="{% static 'panel/dist/js/printThis.min.js' %}"></script>
    <script type="text/javascript" src="https://unpkg.com/xlsx@0.15.1/dist/xlsx.full.min.js"></script>
    <script src="{% static 'panel/dist/js/custom.js' %}"></script>
    <script src="{% static 'panel/dist/js/confirm_delete.js' %}"></script>

    <script>
        function ExportToExcel(type, fn, dl) {
            $('.action-th').remove();
            $('.action-td').remove();
            setTimeout(function(){
                location.reload();
            }, 1000);
            var elt = document.getElementById('data-table');
            var wb = XLSX.utils.table_to_book(elt, { sheet: "sheet1" });
            const now = new Date();
            return dl ?
                XLSX.write(wb, { bookType: type, bookSST: true, type: 'base64' }):
                XLSX.writeFile(wb, fn || ('projects'+ String(now.getTime()) + (type || '.xls')));
        }
    </script>

{% endblock %}