{% extends 'base_create_update.html' %}
{% load static %}

{% block title %}
    {% if request.resolver_match.url_name == 'work_reference_create' %}
        ثبت ارجاع کار
    {% else %}
        ویرایش ارجاع کار
    {% endif %} 
{% endblock %}

{% block page_title %}
    {% if request.resolver_match.url_name == 'work_reference_create' %}
        <span>ثبت ارجاع کار</span>
    {% else %}
        <span>ویرایش ارجاع کار</span>
    {% endif %}
{% endblock %}

{% block form %}
	{% include "projects/forms/work_reference_form.html" %}
{% endblock %}

{% block form_control %}
    <script src="{% static 'scripts/projects/work_reference_form.js' %}"></script>
{% endblock %}
