{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}


{% block title %}
    گزارش جدید
{% endblock %}

{% block link %}

<link rel="stylesheet" href="{% static 'jalali_date_picker/jalalidatepicker.min.css' %}">

{% endblock %}


{% block page_title %}
    <span>گزارش جدید</span>
{% endblock %}



{% block main %}

<div class="card card-primary p-5">

    <div class="card-body col-12 col-lg-8 offset-lg-2">

      <form method="post" id="report-form">
          {% csrf_token %}
          <p>
            <i class="text-info">پر کردن موارد ستاره‌دار الزامی می‌باشد</i>
          </p>
            {% if form.non_field_errors %}
                {% for error in form.non_field_errors %}
                    <div class="alert alert-danger">
                        <h5>
                            <i class="fa-solid fa-circle-xmark"></i>
                            <span>{{ error }}</span>
                        </h5>
                    </div>
                {% endfor %}
            {% endif %}

          <div class="row">
              <div class="col-12 col-xl-6 mb-3">
                  {{ form.report_type|as_crispy_field }}
              </div>
              
              <div class="col-12 col-xl-6 mb-3">
                  <label>{{ form.date_from.label }}*</label>
                  {{ form.date_from|add_class:"form-control"|attr:"data-jdp"|attr:"placeholder:برای انتخاب تاریخ کلیک کنید"|attr:"autocomplete:off" }}

                  {% if form.receive_date.errors %}
                        {% for error in form.receive_date.errors %}
                            <p class="text-danger">{{ error }}</p>
                        {% endfor %}
                  {% endif %}
              </div>
              <div class="col-12 col-xl-6 mb-3">
                  <label>{{ form.date_to.label }}*</label>
                  {{ form.date_to|add_class:"form-control"|attr:"data-jdp"|attr:"placeholder:برای انتخاب تاریخ کلیک کنید"|attr:"autocomplete:off" }}

                  {% if form.receive_date.errors %}
                        {% for error in form.receive_date.errors %}
                            <p class="text-danger">{{ error }}</p>
                        {% endfor %}
                  {% endif %}
              </div>
          </div>

          <div class="row">
            <div class="col-8 col-sm-6 col-xl-4 my-4">
                <button class="btn btn-success btn-block" type="submit">
                    <span>دریافت گزارش</span>
                </button>
              </div>
          </div>
      </form>

    </div>

  </div>

{% endblock  %}


{% block scripts %}

<script src="{% static 'jalali_date_picker/jalalidatepicker.min.js' %}"></script>

<script>
    $(document).ready(function () {
       
        jalaliDatepicker.startWatch({ 
            time: false
        });

        $('#id_date_from').on('input', function (e) { 
            e.preventDefault();
            var date_value = $('#id_date_from').val();
            $('#id_date_from').val(date_value.replaceAll('/', '-'));
        });
        $('#id_date_to').on('input', function (e) { 
            e.preventDefault();
            var date_value = $('#id_date_to').val();
            $('#id_date_to').val(date_value.replaceAll('/', '-'));
        });
   });

</script>

{% endblock %}

