{% extends 'base_list.html' %}
{% load static %}

{% block title %}لیست گروه‌های دسترسی سامانه{% endblock %}

{% block page_title %}لیست گروه‌های دسترسی سامانه{% endblock %}

{% block filter %}
    {% include 'partials/search_print.html' with search_url=search_url date_filter=False list_url=list_url create_url=create_url title='ایجاد گروه دسترسی جدید' create_perm=perms.account.add_group %}
{% endblock %}

{% block table %}
    {% include 'account/tables/groups_table.html' %}
{% endblock %}
    
{% block pagination %}
    {% include 'account/paginations/groups_pagination.html' with page_obj=page_obj %}
{% endblock %}

{% block filter_control %}
    <script src="{% static 'scripts/account/users_list.js' %}"></script>
{% endblock %}