{% extends 'base_create_update.html' %}
{% load static %}

{% block title %}
    {% if request.resolver_match.url_name == 'group_create' %}
        افزودن گروه دسترسی جدید
    {% else %}
        ویرایش گروه‌ دسترسی
    {% endif %} 
{% endblock %}

{% block page_title %}
    {% if request.resolver_match.url_name == 'group_create' %}
        <span>افزودن گروه دسترسی جدید</span>
    {% else %}
        <span>ویرایش گروه دسترسی</span>
    {% endif %}
{% endblock %}

{% block form %}
	{% include "account/forms/group_form.html" %}
{% endblock %}

{% block form_control %}
    <script src="{% static 'scripts/account/group_form.js' %}"></script>
{% endblock %}