{% extends 'base_list.html' %}

{% block title %}لیست گروه‌های دسترسی سامانه{% endblock %}

{% block page_title %}لیست گروه‌های دسترسی سامانه{% endblock %}

{% block filter %}
    <a href="{% url 'account:group_create' %}" class="btn btn-outline-success btn-lg pb-0 mb-3" title="ایجاد گروه دسترسی جدید">
        <i class="fa-solid fa-plus" style="font-size: 1.5rem;"></i>
        <i class="fa-solid fa-users-rectangle" style="font-size: 2rem;"></i>
    </a>
{% endblock %}

{% block table %}
    {% include 'account/tables/groups_table.html' %}
{% endblock %}
    
{% block pagination %}
    {% include 'account/paginations/groups_pagination.html' with page_obj=page_obj %}
{% endblock %}