{% extends 'base.html' %}
{% load static %}


{% block title %}تاریخچه گزارشات{% endblock %}

{% block link %}

<link rel="stylesheet" href="{% static 'jalali_date_picker/jalalidatepicker.min.css' %}">

{% endblock %}

{% block page_title %}تاریخچه گزارشات{% endblock %}


{% block main %}

    {% include 'partials/messages.html' with messages=messages not_found=not_found %}

    <div class="card">
        
        <div class="card-body">
    
        <div id="example1_wrapper" class="dataTables_wrapper dt-bootstrap4">

            {% include "account/report_search.html" %}
        
            <div class="row">
                <div class="col-sm-12 table-responsive">
                    <table id="data-table" class="table table-bordered table-striped sortable" role="grid" aria-describedby="example1_info">
                        <thead>
                            <tr role="row">
    
                                <th class="text-center rounded-0" rowspan="1" colspan="1" style="width: 60.797px;">
                                    ردیف
                                </th>

                                <th class="text-center" rowspan="1" colspan="1" style="width: 172.797px;">
                                    نوع گزارش
                                </th>
    
                                <th class="text-center" rowspan="1" colspan="1" style="width: 236.094px;">
                                    از تاریخ
                                </th>
    
                                <th class="text-center" rowspan="1" colspan="1" style="width: 236.094px;">
                                    تا تاریخ
                                </th>
    
                                <th class="text-center" rowspan="1" colspan="1" style="width: 172.797px;">
                                    تاریخ أخذ گزارش
                                </th>
    
                                <th class=" text-center action-th rounded-0" rowspan="1" colspan="1" style="width: 172.797px;">
                                    اقدام
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for report in reports %}
                                
                                    <tr role="row" class="odd">
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{ report.report_type }}</td>
                                        <td>{{ report.date_from }}</td>
                                        <td>{{ report.date_to }}</td>
                                        <td>{{ report.report_date }}</td>
                                       
                                        <td class="action-td text-center">
                                            <a href="{% url 'account:report_result' report.pk %}"
                                            class="btn btn-outline-info mb-2 pb-0" title="مشاهده گزارش">
                                            <i class="fa-solid fa-file-lines"></i>
                                            </a>
                                            <a href="javascript:void(0)"  
                                            data-toggle="modal"
                                            class="btn btn-outline-danger mb-2 ml-2 pb-0"
                                            data-url="{% url 'account:report_delete' pk=report.pk %}"
                                            data-target="#deleteItemModal" title="حذف"
                                            data-message="آیا از حذف این گزارش اطمینان دارید؟">
                                            <i class="fa-solid fa-user-xmark"></i>
                                            </a>
                                        </td> 
                                        
                                    </tr>
                            {% endfor %}
                        </tbody>
                    
                    </table>
                </div>
            </div>

            {% include 'partials/confirm_delete.html' with obj_name=persian_object_name %}
    
            {% include 'partials/pagination.html' with page_obj=page_obj %}
    
        </div>
        </div>
    </div> 


{% endblock %}


{% block scripts %}

    <script src="{% static 'jalali_date_picker/jalalidatepicker.min.js' %}"></script>
    <script src="{% static 'panel/dist/js/printThis.min.js' %}"></script>
    <script type="text/javascript" src="https://unpkg.com/xlsx@0.15.1/dist/xlsx.full.min.js"></script>
    <script src="{% static 'panel/dist/js/custom.js' %}"></script>
    <script src="{% static 'panel/dist/js/confirm_delete.js' %}"></script>

    <script>
        $(document).ready(function() {
            $("#search-btn").click(function() {
                if($('#model-filter').val() != 'non-filter' && $('#start_date').val() != '' && $('#end_date').val() != '' ){
                    $("#search-form").submit();
               }
            });

            jalaliDatepicker.startWatch({ 
                time: false
            });
    
            $('#start_date').on('input', function (e) { 
                e.preventDefault();
                var date_value = $('#start_date').val();
                $('#start_date').val(date_value.replaceAll('/', '-'));
            });

            $('#end_date').on('input', function (e) { 
                e.preventDefault();
                var date_value = $('#end_date').val();
                $('#end_date').val(date_value.replaceAll('/', '-'));
            });
        });
    </script>

{% endblock %}