{% if request.resolver_match.url_name == 'reports_search' %}
<a href="{% url list_url %}" class="btn-lg btn-danger btn-lg pb-0" title="پاک کردن نتایج جستجو">
    <i class="fa-solid fa-filter-circle-xmark" style="font-size: 1.5rem;"></i>
</a>
{% else %}
<a href="{% url 'account:report_create' %}" class="btn-lg btn-success pb-0" title="گزارش جدید">
    <i class="fa-solid fa-file-circle-plus" style="font-size: 1.5rem;"></i>
</a>
{% endif %}

<div class="row my-3">
    
    <div class="col-12 mt-2">

        <div id="example1_filter" class="dataTables_filter">
            
            <form action="{% url 'account:reports_search' %}" method="get" id="search-form">

                <div class="row">

                    <div class="col-12 col-lg-4">
                        <select name="model_filter" class="form-control" id="model-filter">
                            <option value="non-filter" selected>
                                فیلتر نوع گزارش
                            </option>
                            <option value="receives" {% if request.GET.date_filter == 'receives' %}selected{% endif %}>
                                دریافت‌ها
                            </option>
                            <option value="payments" {% if request.GET.date_filter == 'payments' %}selected{% endif %}>
                                پرداخت‌ها
                            </option>
                            <option value="activities" {% if request.GET.date_filter == 'activities' %}selected{% endif %}>
                                فعالیت‌ها
                            </option>
                            <option value="buyers_sellers" {% if request.GET.date_filter == 'buyers_sellers' %}selected{% endif %}>
                                خریداران / فروشندگان
                            </option>
                            <option value="orders" {% if request.GET.date_filter == 'orders' %}selected{% endif %}>
                                سفارشات
                            </option>
                            <option value="work_reference" {% if request.GET.date_filter == 'work_reference' %}selected{% endif %}>
                                ارجاع کار
                            </option>
                            <option value="cheques" {% if request.GET.date_filter == 'cheques' %}selected{% endif %}>
                                چک‌ها
                            </option>
                            <option value="receive_pay" {% if request.GET.date_filter == 'receive_pay' %}selected{% endif %}>
                                دریافت و پرداخت
                            </option>
                            <option value="fund" {% if request.GET.date_filter == 'fund' %}selected{% endif %}>
                                تنخواه
                            </option>
                            <option value="warehouse_import" {% if request.GET.date_filter == 'warehouse_import' %}selected{% endif %}>
                                کالاهای افزوده شده به انبار
                            </option>
                            <option value="bank_receives" {% if request.GET.date_filter == 'bank_receives' %}selected{% endif %}>
                                رسیدهای بانکی
                            </option>
                        </select>
                    </div>

                    <div class="col-12 col-lg-3 mt-2 mt-lg-0">      
                        <input type="datetime" name="start_date" id="start_date" class="form-control w-100" data-jdp placeholder="تاریخ شروع" autocomplete="off">
                    </div>

                    <div class="col-12 col-lg-3 mt-2 mt-lg-0">      
                        <input type="datetime" name="end_date" id="end_date" class="form-control w-100" data-jdp placeholder="تاریخ پایان" autocomplete="off">
                    </div>

                    <div class="col-1 col-lg-2 p-0 mt-2 mt-lg-0">
                        <button type="button" class="btn btn-success mr-3" title="بگرد" id="search-btn">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </button>
                    </div>

                </div>

            </form>
        
        </div>

    </div>

</div>