{% extends 'base_list.html' %}
{% load static %}

{% block title %}لیست کاربران سامانه{% endblock %}

{% block page_title %}لیست کاربران سامانه{% endblock %}

{% block filter %}
    {% include 'partials/search_print.html' with search_url=search_url date_filter=False list_url=list_url create_url=create_url title='افزودن کاربر جدید' create_perm=perms.account.add_user %}
{% endblock %}
    
{% block table %}
    {% include 'account/tables/users_table.html' %}
{% endblock %}
    
{% block pagination %}
    {% include 'account/paginations/users_pagination.html' with page_obj=page_obj %}
{% endblock %}
    
{% block scripts %}
    <script src="{% static 'scripts/account/users_list.js' %}"></script>
{% endblock %}