{% extends 'base_create_update.html' %}
{% load static %}

{% block title %}
    {% if request.resolver_match.url_name == 'user_create' %}
        افزودن کاربر جدید
    {% else %}
        ویرایش کاربر
    {% endif %} 
{% endblock %}

{% block page_title %}
    {% if request.resolver_match.url_name == 'user_create' %}
        <span>افزودن کاربر جدید</span>
    {% else %}
        <span>ویرایش کاربر</span>
    {% endif %}
{% endblock %}

{% block form %}
	{% include "account/forms/user_form.html" %}
{% endblock %}

{% block form_control %}
    <script src="{% static 'scripts/account/user_form.js' %}"></script>
{% endblock %}