@font-face {
	font-family: 'Tanha';
	src: url('Farsi-Digits/Tanha-FD.eot');
	/* IE9 Compat Modes */
	src: url('Farsi-Digits/Tanha-FD.eot?#iefix') format('embedded-opentype'),
		/* IE6-IE8 */
		url('Farsi-Digits/Tanha-FD.woff2') format('woff2'),
		/* Modern Browsers */
		url('Farsi-Digits/Tanha-FD.woff') format('woff'),
		/* Modern Browsers */
		url('Farsi-Digits/Tanha-FD.ttf') format('truetype');
	/* Safari, Android, iOS */
	font-weight: normal;
	font-style: normal;
	text-rendering: optimizeLegibility;
	font-display: auto;
}

*{
    direction: rtl !important;
}

body{
    font-family: 'Tanha';
}