/* @font-face {
	font-family: 'Vazir';
	src: url('Vazir/Vazir.eot');
	src: url('Vazir/Vazir.eot?#iefix') format('embedded-opentype'),
		url('Vazir/Vazir.woff2') format('woff2'),
		url('Vazir/Vazir.woff') format('woff'),
		url('Vazir/Vazir.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	text-rendering: optimizeLegibility;
	font-display: auto;
} */

@font-face {
	font-family: 'Vazirmatn';
	src: url('Farsi-Digits/Vazirmatn-FD-Regular.woff2') format('woff2'),
		/* Modern Browsers */
		url('Farsi-Digits/Vazirmatn-FD-Regular.ttf') format('truetype');
	/* Safari, Android, iOS */
	font-weight: normal;
	font-style: normal;
	text-rendering: optimizeLegibility;
	font-display: auto;
}

*{
    direction: rtl !important;
}

body{
    font-family: 'Vazirmatn';
}