{% load jformat %}

<div class="row">
    <div class="col-sm-12 table-responsive">
        <table id="data-table" class="table table-bordered table-striped sortable" role="grid" aria-describedby="example1_info">
            <thead>
                <tr role="row">

                    <th class="text-center rounded-0" rowspan="1" colspan="1" style="width: 60.797px;">
                        ردیف
                    </th>

                    <th class="text-center" rowspan="1" colspan="1" style="width: 172.797px;">
                        ارگان
                    </th>

                    <th class="text-center" rowspan="1" colspan="1" style="width: 236.094px;">
                        دریافت بابت
                    </th>

                    <th class="text-center" rowspan="1" colspan="1" style="width: 236.094px;">
                        پروژه
                    </th>

                    <th class="text-center" rowspan="1" colspan="1" style="width: 172.797px;">
                        مبلغ دریافتی
                    </th>

                    <th class="text-center border-left" rowspan="1" colspan="1" style="width: 172.797px;">
                        تاریخ و ساعت
                    </th>

                    {% if perms.government_accounts.delete_receive or perms.government_accounts.change_receive %}
                        <th class=" text-center action-th rounded-0" rowspan="1" colspan="1" style="width: 172.797px;">
                            اقدام
                        </th>
                    {% endif %}
                    
                </tr>
            </thead>
            <tbody>
                {% for receive in receives %}
                    <tr role="row" class="odd">
                        <td>{{ forloop.counter }}</td>
                        <td>{{ receive.organization }}</td>
                        <td>{{ receive.receive_for }}</td>
                        <td>{{ receive.project }}</td>
                        <td data-sort="{{ receive.receive_amount }}">
                            {{ receive.formatted_receive_amount }}
                        </td>
                        <td data-sort="{{ receive.receive_date|date:'Ymd' }}" class="border-left">
                            {{ receive.receive_date|jformat:'%d / %m / %Y - %H:%M:%S' }}
                        </td>
                        {% if perms.government_accounts.delete_receive or perms.government_accounts.change_receive %}
                            <td class="action-td text-center">
                                {% if perms.government_accounts.change_receive %}
                                    <a href="{% url 'government_accounts:receive_update' receive.pk %}" 
                                    class="btn btn-outline-info mb-2 pb-0" title="ویرایش">
                                    <i class="fa-solid fa-pen-to-square"></i>
                                    </a>
                                {% endif %}

                                {% if perms.government_accounts.delete_receive %}
                                    <a href="javascript:void(0)"  
                                    data-toggle="modal"
                                    class="btn btn-outline-danger mb-2 ml-2 pb-0"
                                    data-url="{% url 'government_accounts:receive_delete' pk=receive.pk %}"
                                    data-target="#deleteItemModal" title="حذف"
                                    data-message="آیا از حذف دریافت '{{ receive.receive_for }}' اطمینان دارید؟">
                                    <i class="fa-solid fa-xmark" style="font-size: 1.2rem;"></i>
                                    </a>
                                {% endif %}
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}

            </tbody>
        
        </table>
    </div>
</div>