<script>

$(document).ready(function () {

    function PrintPDFFunc(ID){
        const dataUrl = document.getElementById(ID).toDataURL();
        let windowContent = '<!DOCTYPE html><html><head><title>Print</title></head><body><img src="' + dataUrl + '"></body></html>';
        const printWin = window.open("", "", "width=" + screen.availWidth + ",height=" + screen.availHeight);
        printWin.document.open();
        printWin.document.write(windowContent);
        printWin.document.addEventListener("load",function(){
            printWin.focus();
            printWin.print();
            setTimeout(function(){
                printWin.document.close();
                printWin.close();
            },901);
        },true)
    }

    $('#line-chart').click(function (e) {
        e.preventDefault();

        PrintPDFFunc('buy_sell_chart');
    });
    $('#bar-chart').click(function (e) {
        e.preventDefault();

        PrintPDFFunc('cost_chart');
    });
});


Chart.defaults.global.defaultFontSize = 16;
Chart.defaults.global.defaultFontFamily = 'Vazirmatn';

//console.log(JSON.parse('{{ total_costs|escapejs }}'));

const bs_chart = $("#buy_sell_chart");

const buySellChart = new Chart(bs_chart, {
    type: "line",
    data: {
        labels: JSON.parse('{{ projects|escapejs }}'),

        datasets: [
            {
                data: JSON.parse('{{ total_projects_buyers|escapejs }}'),
                backgroundColor: "",
                borderColor: "#17a2b8",
                pointBackgroundColor: "#17a2b8",
            },
            {
                data: JSON.parse('{{ total_projects_sellers|escapejs }}'),
                backgroundColor: "",
                borderColor: "#ffc107",
                pointBackgroundColor: "#ffc107",
            },
        ],
    },
    options: {
        scales: {
            yAxes: [
                {
                    display: true,
                },
            ],
            xAxes: [
                {
                    display: true,
                },
            ],
        },
        legend: {
            display: false,
        },
        layout: {
            padding: {
                left: 5,
                right: 5,
                top: 5,
                bottom: 5,
            },
        },
    },
});

// ----------------------------------------

var c_chart = $("#cost_chart");
var costChart = new Chart(c_chart, {
    type: 'bar',
    data: {
        labels: JSON.parse('{{ projects|escapejs }}'),
        datasets: [{
            label: '# of Votes',
            data: JSON.parse('{{ total_costs|escapejs }}'),
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)',
                'rgba(105, 215, 33, 0.2)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)',
                'rgba(105, 215, 33, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [
                {
                    display: true,
                },
            ],
            xAxes: [
                {
                    display: true,
                },
            ],
        },
        legend: {
            display: false,
        },
        layout: {
            padding: {
                left: 5,
                right: 5,
                top: 5,
                bottom: 5,
            },
        },
    },
});

</script>