<div class="row mb-2">
    <div class="col">
        {% if list_filters %}
            <form action="{% url search_url %}" method="get" class="d-flex">
                {% for name, value in list_filters.items %}
                    <input type="hidden" name="{{ name }}" value="{{ value }}" /> 
                {% endfor %}
                <label>تعداد موارد قابل نمایش :</label>
                <input type="number" name="record_number" min="1" max="{{ records_count }}" value="{{ record_number }}" style="width: 4.5rem;" class="form-control mr-2">
                <button type="submit" class="btn btn-primary mr-2">
                    <i class="fa-solid fa-filter"></i>
                </button>
            </form>
        {% else %}
            <form action="{% url list_url %}" method="get" class="d-flex">
                <label>تعداد موارد قابل نمایش :</label>
                <input type="number" name="record_number" min="1" max="{{ records_count }}" value="{{ record_number }}" style="width: 4.5rem;" class="form-control mr-2">
                <button type="submit" class="btn btn-primary mr-2">
                    <i class="fa-solid fa-filter"></i>
                </button>
            </form>
        {% endif %}
    </div>
</div>