{% if previous_url %}
    {% if list_filters %}
        {% url search_url page_obj.previous_page_number %}?{% for name, value in list_filters.items %}{% if not forloop.first %}&{% endif %}{{ name }}={{ value }}{% endfor %}&record_number={{ record_number }}{% if order_by %}&order_by={{ order_by }}{% endif %}
    {% else %}
        {% url list_url page_obj.previous_page_number %}?record_number={{ record_number }}{% if order_by %}&order_by={{ order_by }}{% endif %}
    {% endif %}
{% endif %}

{% if item_url %}
    {% if list_filters %}
        {% url search_url page_item %}?{% for name, value in list_filters.items %}{% if not forloop.first %}&{% endif %}{{ name }}={{ value }}{% endfor %}&record_number={{ record_number }}{% if order_by %}&order_by={{ order_by }}{% endif %}
    {% else %}
        {% url list_url page_item %}?record_number={{ record_number }}{% if order_by %}&order_by={{ order_by }}{% endif %}
    {% endif %}
{% endif %}

{% if next_url %}
    {% if list_filters %}
        {% url search_url page_obj.next_page_number %}?{% for name, value in list_filters.items %}{% if not forloop.first %}&{% endif %}{{ name }}={{ value }}{% endfor %}&record_number={{ record_number }}{% if order_by %}&order_by={{ order_by }}{% endif %}
    {% else %}
        {% url list_url page_obj.next_page_number %}?record_number={{ record_number }}{% if order_by %}&order_by={{ order_by }}{% endif %}
    {% endif %}
{% endif %}