{% if 'search' in request.resolver_match.url_name %}
<a href="{% url list_url %}" class="btn-lg btn-danger btn-lg pb-0" title="پاک کردن نتایج جستجو">
    <i class="fa-solid fa-filter-circle-xmark" style="font-size: 1.5rem;"></i>
</a>
{% elif create_perm %}
<a href="{% url create_url %}" class="btn-lg btn-success pb-0" title="{{ title }}">
    {% if request.resolver_match.url_name == 'users' or request.resolver_match.url_name == 'users_search' %}
        <i class="fa-solid fa-user-plus" style="font-size: 1.5rem;"></i>
    {% else %}
        <i class="fa-solid fa-plus" style="font-size: 1.5rem;"></i>
    {% endif %}
</a>
{% endif %}

<div class="row my-2">
    <div class="col-12 col-xl-9 mt-2">
        <div id="example1_filter" class="dataTables_filter">
            <form action="{% url search_url %}" method="get" id="search-form">
                <div class="row pr-3">
                    {% if request.resolver_match.url_name == 'users' or request.resolver_match.url_name == 'users_search' %}
                        <div class="form-group col-12 col-sm-9 col-md-7 col-lg-5 col-xl-3 p-0">
                            <input type="search" class="form-control w-100" name="data_search" 
                            value="{{ request.GET.data_search }}"
                            placeholder="جستجوی کاربر"
                            id="search-input">
                        </div>
                    {% elif 'cash_boxes' not in request.resolver_match.url_name %}
                        <div class="form-group col-12 col-xl-3 p-0">
                            <input type="search" class="form-control w-100" name="data_search" 
                            value="{{ request.GET.data_search }}"
                            placeholder="جستجو"
                            id="search-input">
                        </div>
                    {% endif %}
                    {% if date_filter %}
                        <div class="form-group col-12 col-xl-2">
                            <select name="date_filter" class="form-control" id="date-filter">
                                <option value="all" selected>
                                    فیلتر تاریخ
                                </option>
                                <option value="today" {% if request.GET.date_filter == 'today' %}selected{% endif %}>
                                    امروز
                                </option>
                                <option value="last_week" {% if request.GET.date_filter == 'last_week' %}selected{% endif %}>
                                    هفت روز اخیر
                                </option>
                                <option value="last_month" {% if request.GET.date_filter == 'last_month' %}selected{% endif %}>
                                    یک ماه اخیر
                                </option>
                                <option value="current_year" {% if request.GET.date_filter == 'current_year' %}selected{% endif %}>
                                    امسال
                                </option>
                            </select>
                        </div>
                    {% endif %}
                    {% block filter %}{% endblock %}
                    <div class="col-1 col-xl-1 p-0 {% if not date_filter %}mr-2{% endif %}">
                        <button type="button" class="btn btn-success" title="بگرد" id="search-btn">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    {% if request.resolver_match.url_name != 'users' and request.resolver_match.url_name != 'users_search' and create_perm %}
            <div class="col-12 col-xl-3 mt-2" id="print-table">

                <button class="btn btn-success mr-2" id="excel-btn" onclick="ExportToExcel('.xls')" title="خروجی اکسل">
                    <i class="fa-solid fa-file-excel" style="font-size: 1.5rem;"></i>
                </button>

                <button type="submit" class="btn btn-warning" id="print-btn" title="خروجی پی دی اف">
                    <i class="fa-solid fa-file-pdf" style="font-size: 1.5rem;"></i>
                </button>

            </div>
    {% endif %}
</div>