{% extends 'base_list.html' %}
{% load static %}

{% block title %}لیست فعالیت‌ها{% endblock %}

{% block page_title %}لیست فعالیت‌ها{% endblock %}

{% block filter %}
    {% include 'government_accounts/filters/activity_filter.html' with search_url=search_url date_filter=True list_url=list_url create_url=create_url title='ثبت فعالیت' create_perm=perms.government_accounts.add_activity %}
{% endblock %}

{% block table %}
    {% include "government_accounts/tables/activity_table.html" %}
{% endblock %}

{% block pagination %}
    {% include 'government_accounts/paginations/activity_pagination.html' with page_obj=page_obj %}
{% endblock %}

{% block filter_control %}
    <script src="{% static 'scripts/government_accounts/activity_list.js' %}"></script>  
{% endblock %}