{% extends 'base_list.html' %}
{% load static %}
{% load base_tags %}

{% block title %}لیست فعالیت‌ها{% endblock %}

{% block page_title %}لیست فعالیت‌ها{% endblock %}

{% block filter %}
    {% include 'government_accounts/filters/activity_filter.html' with search_url=search_url date_filter=True list_url=list_url create_url=create_url title='ثبت فعالیت' create_perm=perms.government_accounts.add_activity %}
{% endblock %}

{% block record_control %}
    {% if 'search' in request.resolver_match.url_name %}
        {% objects_records None search_url record_number records_count list_filters %}
    {% else %}
        {% objects_records list_url None record_number records_count %}
    {% endif %}
{% endblock %}

{% block table %}
    {% include "government_accounts/tables/activity_table.html" %}
{% endblock %}

{% block pagination %}
    {% include 'partials/objects_pagination.html' %}
{% endblock %}

{% block filter_control %}
    <script src="{% static 'scripts/government_accounts/activity_list.js' %}"></script>  
{% endblock %}