{% extends 'base_create_update.html' %}
{% load static %}

{% block title %}
    {% if request.resolver_match.url_name == 'activity_create' %}
        ثبت فعالیت
    {% else %}
        ویرایش فعالیت
    {% endif %} 
{% endblock %}

{% block page_title %}
    {% if request.resolver_match.url_name == 'activity_create' %}
        <span>ثبت فعالیت</span>
    {% else %}
        <span>ویرایش فعالیت</span>
    {% endif %}
{% endblock %}

{% block form %}
	{% include "government_accounts/forms/activity_form.html" %}
{% endblock %}

{% block form_control %}
    <script src="{% static 'scripts/government_accounts/activity_form.js' %}"></script>
{% endblock %}