{% extends 'base_create_update.html' %}

{% block title %}
    {% if request.resolver_match.url_name == 'organization_create' %}
        افزودن ارگان‌
    {% else %}
        ویرایش ارگان‌
    {% endif %} 
{% endblock %}

{% block page_title %}
    {% if request.resolver_match.url_name == 'organization_create' %}
        <span>افزودن ارگان</span>
    {% else %}
        <span>ویرایش ارگان‌</span>
    {% endif %}
{% endblock %}

{% block form %}
    {% include "government_accounts/forms/organization_form.html" %}
{% endblock  %}