{% extends 'base.html' %}
{% load crispy_forms_tags %}



{% block title %}
    {% if request.resolver_match.url_name == 'organization_create' %}
        افزودن ارگان‌
    {% else %}
        ویرایش ارگان‌
    {% endif %} 
{% endblock %}

{% block page_title %}
    {% if request.resolver_match.url_name == 'organization_create' %}
        <span>افزودن ارگان</span>
    {% else %}
        <span>ویرایش ارگان‌</span>
    {% endif %}
{% endblock %}



{% block main %}
<br><br>
<div class="card card-primary p-5">

    <div class="card-body col-12 col-lg-8 offset-lg-2">

      <form method="post">
          {% csrf_token %}
          <p>
            <i class="text-info">پر کردن موارد ستاره‌دار الزامی می‌باشد</i>
          </p>
          {% if form.non_field_errors %}
            <div class="errors">
                {% for error in form.non_field_errors %}
                <span>{{ error }}</span>
                {% endfor %}
            </div>
          {% endif %}
          <div class="row">
              <div class="col-12 col-lg-10 col-xl-8 mb-3">
                  {{ form.organization_name|as_crispy_field }}
              </div>
          </div>

          <div class="row">
            <div class="col-8 col-sm-6 col-xl-4 mb-3">
                <button class="btn btn-success btn-block" type="submit">
                    {% if request.resolver_match.url_name == 'organization_create' %}
                        <span>افزودن ارگان</span>
                    {% else %}
                        <span>ویرایش ارگان‌</span>
                    {% endif %}
                </button>
              </div>
          </div>
      </form>

    </div>

  </div>

{% endblock  %}
