{% extends 'base_create_update.html' %}
{% load static %}

{% block title %}
    {% if request.resolver_match.url_name == 'payment_create' %}
        ثبت پرداخت‌
    {% else %}
        ویرایش پرداخت‌
    {% endif %} 
{% endblock %}

{% block page_title %}
    {% if request.resolver_match.url_name == 'payment_create' %}
        <span>ثبت پرداخت‌</span>
    {% else %}
        <span>ویرایش پرداخت‌</span>
    {% endif %}
{% endblock %}

{% block form %}
    {% include "government_accounts/forms/payment_form.html" %}
{% endblock %}

{% block form_control %}
    <script src="{% static 'scripts/government_accounts/payment_form.js' %}"></script>
{% endblock %}