{% extends 'base.html' %}
{% load static %}
{% load jformat %}

{% block title %}لیست دریافت‌ها{% endblock %}

{% block page_title %}لیست دریافت‌ها{% endblock %}


{% block main %}

    {% include 'partials/messages.html' with messages=messages not_found=not_found %}

    <div class="card">
        
        <div class="card-body">
    
        <div id="example1_wrapper" class="dataTables_wrapper dt-bootstrap4">
    
            {% include 'partials/search_print.html' with search_url=search_url %}
    
            <div class="row">
                <div class="col-sm-12 table-responsive">
                    <table id="data-table" class="table table-bordered table-striped sortable" role="grid" aria-describedby="example1_info">
                        <thead>
                            <tr role="row">
    
                                <th class="text-center" rowspan="1" colspan="1" style="width: 60.797px;">
                                    ردیف
                                </th>

                                <th class="text-center" rowspan="1" colspan="1" style="width: 172.797px;">
                                    ارگان
                                </th>
    
                                <th class="text-center" rowspan="1" colspan="1" style="width: 236.094px;">
                                    دریافت بابت
                                </th>
    
                                <th class="text-center" rowspan="1" colspan="1" style="width: 236.094px;">
                                    پروژه
                                </th>
    
                                <th class="text-center" rowspan="1" colspan="1" style="width: 172.797px;">
                                    مبلغ دریافتی
                                </th>
    
                                <th class="text-center border-left" rowspan="1" colspan="1" style="width: 172.797px;">
                                    تاریخ و ساعت
                                </th>
    
                                <th class=" text-center action-th" rowspan="1" colspan="1" style="width: 172.797px;">
                                    اقدام
                                </th>
                            </tr>
                        </thead>
                        <tbody>
    
                            {% for receive in receives %}
                                <tr role="row" class="odd">
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ receive.organization }}</td>
                                    <td>{{ receive.receive_for }}</td>
                                    <td>{{ receive.project }}</td>
                                    <td data-sort="{{ receive.receive_amount }}">
                                        {{ receive.formatted_receive_amount }}
                                    </td>
                                    <td data-sort="{{ receive.receive_date|date:'Ymd' }}" class="border-left">
                                        {{ receive.receive_date|jformat:'%d / %m / %Y - %H:%M:%S' }}
                                    </td>
                                    <td class="action-td">
                                        <a href="{% url 'government_accounts:receive_update' receive.pk %}" 
                                        class="btn btn-outline-info mb-2">
                                            ویرایش
                                        </a>
                                        <a href="javascript:void(0)"  
                                        data-toggle="modal"
                                        class="btn btn-outline-danger mb-2 ml-2"
                                        data-url="{% url 'government_accounts:receive_delete' pk=receive.pk %}"
                                        data-target="#deleteItemModal"
                                        data-message="آیا از حذف دریافت '{{ receive.receive_for }}' اطمینان دارید؟">
                                            حذف
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
    
                            
    
                        </tbody>
                    
                    </table>
                </div>
            </div>

            {% include 'partials/confirm_delete.html' with obj_name=persian_object_name %}
    
            {% include 'partials/pagination.html' with page_obj=page_obj %}
    
        </div>
        </div>
    </div> 


{% endblock %}


{% block scripts %}

    <script src="{% static 'panel/dist/js/printThis.min.js' %}"></script>
    <script type="text/javascript" src="https://unpkg.com/xlsx@0.15.1/dist/xlsx.full.min.js"></script>
    <script src="{% static 'panel/dist/js/custom.js' %}"></script>
    <script src="{% static 'panel/dist/js/confirm_delete.js' %}"></script>

    <script>
        function ExportToExcel(type, fn, dl) {
            $('.action-th').remove();
            $('.action-td').remove();
        
            setTimeout(function(){
                location.reload();
            }, 1000);
        
            var elt = document.getElementById('data-table');
            var wb = XLSX.utils.table_to_book(elt, { sheet: "sheet1" });
            const now = new Date();
            return dl ?
                XLSX.write(wb, { bookType: type, bookSST: true, type: 'base64' }):
                XLSX.writeFile(wb, fn || ('receives'+ String(now.getTime()) + (type || '.xls')));
        }
    </script>

{% endblock %}