{% extends 'base_create_update.html' %}
{% load static %}

{% block title %}
    {% if request.resolver_match.url_name == 'receive_create' %}
        ثبت دریافت‌
    {% else %}
        ویرایش دریافت‌
    {% endif %} 
{% endblock %}

{% block page_title %}
    {% if request.resolver_match.url_name == 'receive_create' %}
        <span>ثبت دریافت‌</span>
    {% else %}
        <span>ویرایش دریافت‌</span>
    {% endif %}
{% endblock %}

{% block form %}
    {% include "government_accounts/forms/receive_form.html" %}
{% endblock %}

{% block form_control %}
    <script src="{% static 'scripts/government_accounts/receive_form.js' %}"></script>
{% endblock %}