{% extends 'base_list.html' %}
{% load static %}
{% load base_tags %}

{% block title %}لیست دریافت‌ها{% endblock %}

{% block page_title %}لیست دریافت‌ها{% endblock %}

{% block filter %}
    {% include 'partials/search_print.html' with search_url=search_url date_filter=True list_url=list_url create_url=create_url title='ثبت دریافت' create_perm=perms.government_accounts.add_receive %}
{% endblock %}

{% block record_control %}
    {% if 'search' in request.resolver_match.url_name %}
        {% objects_records None search_url record_number records_count list_filters %}
    {% else %}
        {% objects_records list_url None record_number records_count %}
    {% endif %}
{% endblock %}

{% block table %}
    {% include "government_accounts/tables/recieve_table.html" %}
{% endblock %}

{% block pagination %}
    {% include 'partials/objects_pagination.html' %}
{% endblock %}

{% block filter_control %}
    <script src="{% static 'scripts/government_accounts/receive_list.js' %}"></script>
{% endblock %}