{% load accounting_tags %}

<div class="row">
    <div class="card col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4">
        <div class="card-body p-0 pt-2">
            <div class="table-responsive" style="max-height: 9rem; overflow-y: auto;">
                <table class="table table-bordered table-striped sortable" role="grid" aria-describedby="example1_info">
                    <thead>
                        <tr role="row">
                            <th class="text-center rounded-0 border-left" rowspan="1" colspan="1" style="width: 358.797px;;">
                                نام تنخواه
                            </th>

                            <th class="text-center rounded-0 border-left" rowspan="1" colspan="1" style="width: 358.797px;;">
                                موجودی تنخواه
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for fund_name in fund_names %}
                            <tr role="row" class="odd">
                                <td class="border-left">{{ fund_name }}</td>
                                {% fund_cash fund_name %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            
        </div>
    </div>
</div>