{% load crispy_forms_tags %}
{% load widget_tweaks %}

<div class="row">
    <div class="col-12 col-xl-6 mb-3">
        {{ form.operation_type|as_crispy_field }}
    </div>
    <fieldset class="input-group border-bottom mb-3 d-none" id="rem-field">
        <div class="col-12 col-xl-6 mb-3">
            {{ form.removal_amount|as_crispy_field }}
        </div>
        <div class="col-12 col-xl-6 mb-3 mb-3">
            <label for="">{{ form.removal_description.label }}</label>
            {% if form.removal_description.errors %}
                {{ form.removal_description|add_class:"form-control border border-danger"|attr:"rows:5" }}
                {% for error in form.removal_description.errors %}
                    <p class="text-danger">
                        <strong>{{ error }}</strong>
                    </p>
                {% endfor %}
            {% else %}
                {{ form.removal_description|add_class:"form-control"|attr:"rows:5" }}
            {% endif %}
            <small class="form-text text-muted">جهت عملیات برداشت از صندوق این فیلد لازم است</small>
        </div>
        <div class="col-12 col-xl-6 mb-3">
            {{ form.removal_image|as_crispy_field }}
            <span class="text-danger d-none"
                  id="removal_image_alert">لطفا تصویر جدیدی بارگذاری نمایید</span>
        </div>
    </fieldset>
    <fieldset class="input-group border-bottom mb-3 d-none" id="set-field">
        <div class="col-12 col-xl-6 mb-3">
            {{ form.settle_amount|as_crispy_field }}
        </div>
        <div class="col-12 col-xl-6 mb-3 mb-3">
            <label for="">{{ form.settle_description.label }}</label>

            {% if form.settle_description.errors %}
                {{ form.settle_description|add_class:"form-control border border-danger"|attr:"rows:5" }}
                {% for error in form.settle_description.errors %}
                    <p class="text-danger">
                        <strong>{{ error }}</strong>
                    </p>
                {% endfor %}
            {% else %}
                {{ form.settle_description|add_class:"form-control"|attr:"rows:5" }}
            {% endif %}
            <small class="form-text text-muted">جهت عملیات برداشت از صندوق این فیلد لازم است</small>
        </div>
        <div class="col-12 col-xl-6 mb-3">
            {{ form.settle_image|as_crispy_field }}
            <span class="text-danger d-none"
                  id="settle_image_alert">لطفا تصویر جدیدی بارگذاری نمایید</span>
        </div>
    </fieldset>
</div>

<div class="row">
    <div class="col-8 col-sm-6 col-xl-4 my-4">
        <button class="btn btn-success btn-block" type="submit" id="submit-btn">
            {% if request.resolver_match.url_name == 'cash_box_create' %}
                <span>ثبت عملیات صندوق</span>
            {% else %}
                <span>ویرایش عملیات صندوق</span>
            {% endif %}
        </button>
    </div>
</div>