{% load crispy_forms_tags %}
{% load widget_tweaks %}
{% load base_tags %}

<div class="row">
    <div class="col-12 col-xl-6 mb-3">
        {{ form.full_name|as_crispy_field }}
    </div>
    <div class="col-12 col-xl-6 mb-3">
        {{ form.operation_type|as_crispy_field }}
    </div>
    <fieldset class="input-group mb-3 d-none" id="rem-field">
        <div class="col-12 col-xl-6 mb-3">
            <label for="">{{ form.cost_amount.label }}*</label>
            {% if form.cost_amount.errors %}
                {{ form.cost_amount|add_class:"form-control border border-danger" }}
                {% for error in form.cost_amount.errors %}
                    <strong class="form-text text-danger" style="font-size:80%">{{ error }}</strong>
                {% endfor %}
            {% else %}
                {{ form.cost_amount|add_class:"form-control" }}
            {% endif %}
            <small class="form-text text-muted">
                <span id="cost_counter">0</span>
                <span>ریال</span>
            </small>
        </div>
        <div class="col-12 col-xl-6 mb-3 mb-3">
            <label for="">{{ form.cost_description.label }}*</label>
            {% if form.cost_description.errors %}
                {{ form.cost_description|add_class:"form-control border border-danger"|attr:"rows:5" }}
                {% for error in form.cost_description.errors %}
                    <strong class="form-text text-danger" style="font-size:80%">{{ error }}</strong>
                {% endfor %}
            {% else %}
                {{ form.cost_description|add_class:"form-control"|attr:"rows:5" }}
            {% endif %}
        </div>
        <div class="col-12 col-xl-6 mb-3">
            <label>{{ form.removal_date.label }}*</label>
            {% if form.removal_date.errors %}
                {{ form.removal_date|add_class:"form-control border border-danger"|attr:"data-jdp"|attr:"placeholder:برای انتخاب تاریخ کلیک کنید"|attr:"autocomplete:off" }}
                {% for error in form.removal_date.errors %}
                    <strong class="form-text text-danger" style="font-size:80%">{{ error }}</strong>
                {% endfor %}
            {% else %}
                {{ form.removal_date|add_class:"form-control"|attr:"data-jdp"|attr:"placeholder:برای انتخاب تاریخ کلیک کنید"|attr:"autocomplete:off" }}
            {% endif %}
        </div>
        <div class="col-12 col-xl-6 mb-3">
            {{ form.receipt_image|as_crispy_field }}
            <span class="text-danger d-none" id="receipt_image_alert">لطفا تصویر جدیدی بارگذاری نمایید</span>
            <small class="form-text text-muted">{% img_size_msg %}</small>
            {% if request.FILES.receipt_image %}
                <strong class="form-text text-muted" style="font-size:90%">
                    نام فایل: {{ request.FILES.receipt_image }}
                </strong>
            {% endif %}
        </div>
    </fieldset>
    <fieldset class="input-group mb-3 d-none" id="set-field">
        <div class="col-12 col-xl-6 mb-3">
            <label for="">{{ form.charge_amount.label }}*</label>
            {% if form.charge_amount.errors %}
                {{ form.charge_amount|add_class:"form-control border border-danger" }}
                {% for error in form.charge_amount.errors %}
                    <strong class="form-text text-danger" style="font-size:80%">{{ error }}</strong>
                {% endfor %}
            {% else %}
                {{ form.charge_amount|add_class:"form-control" }}
            {% endif %}
            <small class="form-text text-muted">
                <span id="charge_counter">0</span>
                <span>ریال</span>
            </small>
        </div>
        <div class="col-12 col-xl-6 mb-3">
            <label>{{ form.charge_date.label }}*</label>
            {% if form.charge_date.errors %}
                {{ form.charge_date|add_class:"form-control border border-danger"|attr:"data-jdp"|attr:"placeholder:برای انتخاب تاریخ کلیک کنید"|attr:"autocomplete:off" }}
                {% for error in form.charge_date.errors %}
                    <strong class="form-text text-danger" style="font-size:80%">{{ error }}</strong>
                {% endfor %}
            {% else %}
                {{ form.charge_date|add_class:"form-control"|attr:"data-jdp"|attr:"placeholder:برای انتخاب تاریخ کلیک کنید"|attr:"autocomplete:off" }}
            {% endif %}
        </div>
        <div class="col-12 col-xl-6 mb-3">
            {{ form.charge_image|as_crispy_field }}
            <span class="text-danger d-none" id="charge_image_alert">لطفا تصویر جدیدی بارگذاری نمایید</span>
            <small class="form-text text-muted">{% img_size_msg %}</small>
            {% if request.FILES.charge_image %}
                <strong class="form-text text-muted" style="font-size:90%">
                    نام فایل: {{ request.FILES.charge_image }}
                </strong>
            {% endif %}
        </div>
    </fieldset>
</div>
<div class="row">
    <div class="col-8 col-sm-6 col-xl-4 my-4">
        <button class="btn btn-success btn-block" type="submit" id="submit-btn">
            {% if request.resolver_match.url_name == 'fund_create' %}
                <span>ثبت عملیات تنخواه</span>
            {% else %}
                <span>ویرایش عملیات تنخواه</span>
            {% endif %}
        </button>
    </div>
</div>