{% load crispy_forms_tags %}
{% load widget_tweaks %}

<div class="row">
    <div class="col-12 col-xl-6 mb-3">
        {{ form.full_name|as_crispy_field }}
    </div>
    <div class="col-12 col-xl-6 mb-3">
        {{ form.operation_type|as_crispy_field }}
    </div>
    <fieldset class="input-group border-bottom mb-3 d-none" id="rem-field">
        <div class="col-12 col-xl-6 mb-3">
            {{ form.cost_amount|as_crispy_field }}
        </div>
        <div class="col-12 col-xl-6 mb-3 mb-3">
            <label for="">{{ form.cost_description.label }}</label>
            {% if form.cost_description.errors %}
                {{ form.cost_description|add_class:"form-control border border-danger"|attr:"rows:5" }}
                {% for error in form.cost_description.errors %}
                    <p class="text-danger">
                        <strong>{{ error }}</strong>
                    </p>
                {% endfor %}
            {% else %}
                {{ form.cost_description|add_class:"form-control"|attr:"rows:5" }}
            {% endif %}
            <small class="form-text text-muted">جهت عملیات برداشت از تنخواه این فیلد لازم است</small>
        </div>
        <div class="col-12 col-xl-6 mb-3">
            {{ form.receipt_image|as_crispy_field }}
            <span class="text-danger d-none" id="receipt_image_alert">لطفا تصویر جدیدی بارگذاری نمایید</span>
        </div>
    </fieldset>
    <fieldset class="input-group border-bottom mb-3 d-none" id="set-field">
        <div class="col-12 col-xl-6 mb-3">
            {{ form.charge_amount|as_crispy_field }}
        </div>
        <div class="col-12 col-xl-6 mb-3">
            <label>{{ form.charge_date.label }}</label>
            {% if form.charge_date.errors %}
                {{ form.charge_date|add_class:"form-control border border-danger"|attr:"data-jdp"|attr:"placeholder:برای انتخاب تاریخ و ساعت کلیک کنید"|attr:"autocomplete:off" }}
                {% for error in form.charge_date.errors %}
                    <p class="text-danger">
                        <strong>{{ error }}</strong>
                    </p>
                {% endfor %}
            {% else %}
                {{ form.charge_date|add_class:"form-control"|attr:"data-jdp"|attr:"placeholder:برای انتخاب تاریخ و ساعت کلیک کنید"|attr:"autocomplete:off" }}
            {% endif %}
            <small class="form-text text-muted">جهت عملیات واریز به تنخواه این فیلد لازم است</small>
        </div>
        <div class="col-12 col-xl-6 mb-3">
            {{ form.charge_image|as_crispy_field }}
            <span class="text-danger d-none" id="charge_image_alert">لطفا تصویر جدیدی بارگذاری نمایید</span>
        </div>
    </fieldset>
</div>
<div class="row">
    <div class="col-8 col-sm-6 col-xl-4 my-4">
        <button class="btn btn-success btn-block" type="submit" id="submit-btn">
            {% if request.resolver_match.url_name == 'fund_create' %}
                <span>ثبت عملیات تنخواه</span>
            {% else %}
                <span>ویرایش عملیات تنخواه</span>
            {% endif %}
        </button>
    </div>
</div>