{% extends "partials/base_pagination.html" %}

{% block previous_page_url %}
    {% if 'search' in request.resolver_match.url_name %}
        {% url "government_accounts:payments_search" page_obj.previous_page_number %}?data_search={{ query }}&date_filter={{ date_filter }}&record_number={{ record_number }}
    {% else %}
        {% url "government_accounts:payments" page_obj.previous_page_number %}?record_number={{ record_number }}
    {% endif %}
{% endblock  %}

{% block page_item_url %}
    {% if 'search' in request.resolver_match.url_name %}
        {% url "government_accounts:payments_search" page_item %}?data_search={{ query }}&date_filter={{ date_filter }}&record_number={{ record_number }}
    {% else %}
        {% url "government_accounts:payments" page_item %}?record_number={{ record_number }}
    {% endif %}
{% endblock  %}

{% block next_page_url %}
    {% if 'search' in request.resolver_match.url_name %}
        {% url "government_accounts:payments_search" page_obj.next_page_number %}?data_search={{ query }}&date_filter={{ date_filter }}&record_number={{ record_number }}
    {% else %}
        {% url "government_accounts:payments" page_obj.next_page_number %}?record_number={{ record_number }}
    {% endif %}
{% endblock  %}