{% load crispy_forms_tags %}
{% load widget_tweaks %}

<div class="row">
    <div class="col-12 col-xl-6 mb-3">
      {{ form.project|as_crispy_field }}
    </div>

    <div class="col-12 col-xl-6 mb-3">
        {{ form.buyer_seller|as_crispy_field }}
    </div>

    <div class="col-12 col-xl-6 mb-3">
      {{ form.full_name|as_crispy_field }}
      {{ form.phone|as_crispy_field }}
    </div>
    
    <div class="col-12 col-xl-6 mb-3 mb-3">
      <label for="">{{ form.address.label }}*</label>
      {{ form.address|add_class:"form-control"|attr:"rows:5" }}
    </div>
    
    <div class="col-12 col-xl-6 mb-3">
      {{ form.payment_amount|as_crispy_field }}
      <small class="form-text text-muted">
        <span id="counter">0</span>
        <span>ریال</span>
      </small>
    </div>
   
    <div class="col-12 col-xl-6 mb-3">
        {{ form.payment_order|as_crispy_field }}
    </div>
    <div class="col-12 col-xl-6 mb-3">
        {{ form.current_roof|as_crispy_field }}
    </div>
    
    <div class="col-12 col-xl-6 mb-3">
        <label>{{ form.payment_date.label }}*</label>
        {{ form.payment_date|add_class:"form-control"|attr:"data-jdp"|attr:"placeholder:برای انتخاب تاریخ کلیک کنید"|attr:"autocomplete:off" }}

        {% if form.payment_date.errors %}
              {% for error in form.payment_date.errors %}
                  <p class="text-danger">{{ error }}</p>
              {% endfor %}
        {% endif %}
    </div>
    <div class="col-12 col-xl-6 mb-3">
      {{ form.contract_image|as_crispy_field }}
    </div>
</div>

<div class="row">
  <div class="col-8 col-sm-6 col-xl-4 my-4">
      <button class="btn btn-success btn-block" type="submit">
          {% if request.resolver_match.url_name == 'buyer_seller_create' %}
              <span>افزودن خریدار / فروشنده</span>
          {% else %}
              <span>ویرایش خریدار / فروشنده</span>
          {% endif %}
      </button>
    </div>
</div>