{% load crispy_forms_tags %}
{% load widget_tweaks %}

<div class="row">
    <div class="col-12 col-xl-6 mb-3">
        {{ form.full_name|as_crispy_field }}
    </div>
    <div class="col-12 col-xl-6 mb-3">
      {{ form.job|as_crispy_field }}
    </div>
    <div class="col-12 col-xl-6 mb-3">
        {{ form.phone|as_crispy_field }}
    </div>
    <div class="col-12 col-xl-6 mb-3">
        {{ form.contract_image|as_crispy_field }}
        <small class="form-text text-muted">حجم تصویر نباید بیشتر از ۱۵۰ کیلوبایت باشد</small>
        {% if not size_valid and form_invalid %}
            <strong class="form-text text-danger" style="font-size:80%">حجم تصویر بیش از حد مجاز است</strong>
        {% endif %}
        {% if request.FILES.contract_image %}
            <strong class="form-text text-muted" style="font-size:90%">
                نام فایل: {{ request.FILES.contract_image }}
            </strong>
        {% endif %}
    </div>
    <div class="col-12 col-xl-6 mb-3 mb-3">
      <label for="">{{ form.address.label }}*</label>
      {% if form.address.errors %}
        {{ form.address|add_class:"form-control border border-danger"|attr:"rows:5" }}
        {% for error in form.address.errors %}
            <strong class="form-text text-danger" style="font-size:80%">{{ error }}</strong>
        {% endfor %}
      {% else %}
        {{ form.address|add_class:"form-control"|attr:"rows:5" }}
      {% endif %}
    </div>
</div>

<div class="row">
  <div class="col-8 col-sm-6 col-xl-4 my-5">
      <button class="btn btn-success btn-block" type="submit">
          {% if request.resolver_match.url_name == 'personnel_create' %}
              <span>افزودن پرسنل</span>
          {% else %}
              <span>ویرایش پرسنل</span>
          {% endif %}
      </button>
    </div>
</div>