{% load crispy_forms_tags %}
{% load widget_tweaks %}

<div class="row">
    <div class="col-12 col-xl-6 mb-3">
        {{ form.project|as_crispy_field }}
    </div>
    <fieldset class="input-group border-bottom mb-3">
        <legend class="mb-3">
            <i class="bg-info text-light p-1 rounded" style="font-size: 1.2rem;">درخواست کننده</i>
        </legend>
        <div class="col-12 col-xl-6 mb-3">
            {{ form.personnel_apply|as_crispy_field }}
        </div>
        <div class="col-12 col-xl-6 mb-3">
            {{ form.contractor_apply|as_crispy_field }}
        </div>
    </fieldset>
    <fieldset class="input-group border-bottom mb-3">
        <legend class="mb-3">
            <i class="bg-info text-light p-1 rounded" style="font-size: 1.2rem;">کالا</i>
        </legend>
        <div class="col-12 col-xl-6 mb-3">
            {{ form.stuff_type|as_crispy_field }}
        </div>
        <div class="col-12 col-xl-6 mb-3">
            {{ form.stuff_amount|as_crispy_field }}
        </div>
    </fieldset>
    <fieldset class="input-group border-bottom mb-3">
        <legend class="mb-3">
            <i class="bg-info text-light p-1 rounded" style="font-size: 1.2rem;">تحویل گیرنده</i>
        </legend>
        <div class="col-12 col-xl-6 mb-3">
            {{ form.personnel_delivery|as_crispy_field }}
        </div>
        <div class="col-12 col-xl-6 mb-3">
            {{ form.contractor_delivery|as_crispy_field }}
        </div>
    </fieldset>
    <div class="col-12 col-xl-6 mb-3">
        {{ form.status|as_crispy_field }}
    </div>
    <div class="col-12 col-xl-6 mb-3">
        <label>{{ form.export_import_date.label }}*</label>
        {{ form.export_import_date|add_class:"form-control"|attr:"data-jdp"|attr:"placeholder:برای انتخاب تاریخ کلیک کنید"|attr:"autocomplete:off" }}
        {% if form.export_import_date.errors %}
            {% for error in form.export_import_date.errors %}
                <p class="text-danger">{{ error }}</p>
            {% endfor %}
        {% endif %}
    </div>
</div>
<div class="row">
    <div class="col-8 col-sm-6 col-xl-4 my-4">
        <button class="btn btn-success btn-block" type="submit" id="submit-btn">
            {% if request.resolver_match.url_name == 'project_warehouse_create' %}
                <span>ثبت عملیات</span>
            {% else %}
                <span>ویرایش عملیات</span>
            {% endif %}
        </button>
    </div>
</div>