{% load crispy_forms_tags %}

<div class="row">
    <div class="col-12 col-lg-10 col-xl-8 mb-3">
        {{ form.stuff_type|as_crispy_field }}
    </div>
    <div class="col-12 col-lg-10 col-xl-8 mb-3">
        {{ form.measurement_unit|as_crispy_field }}
    </div>
</div>
<div class="row">
  <div class="col-8 col-sm-6 col-xl-4 mb-3">
      <button class="btn btn-success btn-block" type="submit">
          {% if request.resolver_match.url_name == 'stuff_create' %}
              <span>افزودن کالا</span>
          {% else %}
              <span>ویرایش کالا</span>
          {% endif %}
      </button>
    </div>
</div>