{% load crispy_forms_tags %}
{% load widget_tweaks %}

<div class="row">
    <fieldset class="input-group border-bottom mb-3">
        <legend class="mb-3">
            <i class="bg-info text-light p-1 rounded" style="font-size: 1.2rem;">کالا</i>
        </legend>
        <div class="col-12 col-xl-6 mb-3">
            {{ form.stuff_type|as_crispy_field }}
        </div>
        <div class="col-12 col-xl-6 mb-3">
            {{ form.stuff_amount|as_crispy_field }}
        </div>
    </fieldset>
    <fieldset class="input-group border-bottom mb-3">
        <legend class="mb-3">
            <i class="bg-info text-light p-1 rounded" style="font-size: 1.2rem;">فرستنده</i>
        </legend>
        <div class="col-12 col-xl-6 mb-3">
            {{ form.supplier|as_crispy_field }}
        </div>
        <div class="col-12 col-xl-6 mb-3">
            <label for="">{{ form.other_sender.label }}</label>
            {{ form.other_sender|add_class:"form-control"|attr:"rows:5" }}
        </div>
    </fieldset>
    <fieldset class="input-group mb-3 border-bottom">
        <div class="col-12 col-xl-6 mb-3">{{ form.receiver|as_crispy_field }}</div>
        <div class="col-12 col-xl-6 mb-3">
            <label>{{ form.import_date.label }}*</label>
            {{ form.import_date|add_class:"form-control"|attr:"data-jdp"|attr:"placeholder:برای انتخاب تاریخ کلیک کنید"|attr:"autocomplete:off" }}
            {% if form.import_date.errors %}
                {% for error in form.import_date.errors %}
                    <p class="text-danger">{{ error }}</p>
                {% endfor %}
            {% endif %}
        </div>
    </fieldset>
    <fieldset class="input-group mb-3">
        <legend class="mb-3">
            <i class="bg-info text-light p-1 rounded" style="font-size: 1.2rem;">مرجوعی</i>
        </legend>
        <div class="col-12 col-xl-6 mb-3">
            {{ form.is_returned|as_crispy_field }}
        </div>
        <div class="col-12 col-xl-6 mb-3">
            {{ form.project_returned|as_crispy_field }}
        </div>
    </fieldset>
</div>
<div class="row">
    <div class="col-8 col-sm-6 col-xl-4 my-4">
        <button class="btn btn-success btn-block" type="submit">
            {% if request.resolver_match.url_name == 'warehouse_import_create' %}
                <span>ثبت ورود کالا به انبار</span>
            {% else %}
                <span>ویرایش کالای وارد شده به انبار</span>
            {% endif %}
        </button>
      </div>
</div>