{% extends 'base_create_update.html' %}
{% load static %}

{% block title %}
    {% if request.resolver_match.url_name == 'buyer_seller_create' %}
        افزودن خریدار / فروشنده
    {% else %}
        ویرایش خریدار / فروشنده
    {% endif %} 
{% endblock %}

{% block page_title %}
    {% if request.resolver_match.url_name == 'buyer_seller_create' %}
        <span>افزودن خریدار / فروشنده</span>
    {% else %}
        <span>ویرایش خریدار / فروشنده</span>
    {% endif %}
{% endblock %}

{% block form %}
	{% include "non_government_accounts/forms/buyer_seller_form.html" %}
{% endblock %}

{% block form_control %}
    <script src="{% static 'scripts/non_government_accounts/buyer_seller_form.js' %}"></script>
{% endblock %}