{% extends 'base_create_update.html' %}

{% block title %}
    {% if request.resolver_match.url_name == 'conflict_order_create' %}
        ثبت مغایرت سفارش
    {% else %}
        ویرایش مغایرت سفارش
    {% endif %} 
{% endblock %}

{% block page_title %}
    {% if request.resolver_match.url_name == 'conflict_order_create' %}
        <span>ثبت مغایرت سفارش</span>
    {% else %}
        <span>ویرایش مغایرت سفارش</span>
    {% endif %}
{% endblock %}

{% block form %}
	{% include "non_government_accounts/forms/conflict_order_form.html" %}
{% endblock %}