{% extends 'base_create_update.html' %}

{% block title %}
    {% if request.resolver_match.url_name == 'contractor_create' %}
        افزودن پیمانکار
    {% else %}
        ویرایش پیمانکار
    {% endif %} 
{% endblock %}

{% block page_title %}
    {% if request.resolver_match.url_name == 'contractor_create' %}
        <span>افزودن پیمانکار</span>
    {% else %}
        <span>ویرایش پیمانکار</span>
    {% endif %}
{% endblock %}

{% block form %}
	{% include "non_government_accounts/forms/contractor_form.html" %}
{% endblock %}