{% extends 'base_create_update.html' %}
{% load static %}

{% block title %}
    {% if request.resolver_match.url_name == 'order_create' %}
        ثبت سفارش 
    {% else %}
        ویرایش سفارش
    {% endif %} 
{% endblock %}

{% block page_title %}
    {% if request.resolver_match.url_name == 'order_create' %}
        <span>ثبت سفارش</span>
    {% else %}
        <span>ویرایش سفارش</span>
    {% endif %}
{% endblock %}

{% block form %}
	{% include "non_government_accounts/forms/order_form.html" %}
{% endblock %}

{% block form_control %}
    <script src="{% static 'scripts/non_government_accounts/order_form.js' %}"></script>
{% endblock %}