{% extends 'base_create_update.html' %}

{% block title %}
    {% if request.resolver_match.url_name == 'partner_create' %}
        افزودن شریک
    {% else %}
        ویرایش شریک
    {% endif %} 
{% endblock %}

{% block page_title %}
    {% if request.resolver_match.url_name == 'partner_create' %}
        <span>افزودن شریک</span>
    {% else %}
        <span>ویرایش شریک</span>
    {% endif %}
{% endblock %}

{% block form %}
	{% include "non_government_accounts/forms/partner_form.html" %}
{% endblock %}