{% extends 'base.html' %}
{% load static %}


{% block title %}لیست پرسنل{% endblock %}

{% block page_title %}لیست پرسنل{% endblock %}


{% block main %}

    {% include 'partials/messages.html' with messages=messages not_found=not_found %}

    <div class="card">
        
        <div class="card-body">
    
            <div id="example1_wrapper" class="dataTables_wrapper dt-bootstrap4">

                {% include 'partials/search_print.html' with search_url=search_url date_filter=False list_url=list_url create_url=create_url title='افزودن پرسنل' create_perm=perms.non_government_accounts.add_personnel %}
        
                <div class="row">
                    <div class="col-sm-12 table-responsive">
                        <table id="data-table" class="table table-bordered table-striped sortable" role="grid" aria-describedby="example1_info">
                            <thead>
                                <tr role="row">
        
                                    <th class="text-center rounded-0" rowspan="1" colspan="1" style="width: 60.797px;">
                                        ردیف
                                    </th>
        
                                    <th class="text-center" rowspan="1" colspan="1" style="width: 236.094px;">
                                        نام  و نام خانوادگی
                                    </th>
        
        
                                    <th class="text-center" rowspan="1" colspan="1" style="width: 172.797px;">
                                        رشته شغلی
                                    </th>
        
                                    <th class="text-center border-left" rowspan="1" colspan="1" style="width: 172.797px;">
                                        شماره تماس
                                    </th>

                                    <th class="text-center border-left" rowspan="1" colspan="1" style="width: 172.797px;">
                                        آدرس
                                    </th>

                                    <th class="text-center col-img" rowspan="1" colspan="1" style="width: 172.797px;">
                                        تصویر قرارداد
                                    </th>
                                    
                                    {% if perms.non_government_accounts.delete_personnel or perms.non_government_accounts.change_personnel %}
                                        <th class=" text-center action-th rounded-0" rowspan="1" colspan="1" style="width: 172.797px;">
                                            اقدام
                                        </th>
                                    {% endif %}
                                </tr>
                            </thead>
                            <tbody>
        
                                {% for person in personnel %}
                                    <tr role="row" class="odd">
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{ person.full_name }}</td>
                                        <td>{{ person.job }}</td>
                                        <td>{{ person.phone }}</td>
                                        <td>{{ person.address }}</td>

                                        <td class="text-center col-img">
                                            <a href="#" class="btn btn-success" data-toggle="modal" title="مشاهده تصویر" 
                                            data-target="#contract{{ forloop.counter }}">
                                                <i class="fa-solid fa-image" style="font-size: 2rem;"></i><br>
                                            </a>
                                        </td>

                                        {% include 'partials/img_modal.html' with img_type='contract' id=forloop.counter img_src=person.contract_image.url label='قرارداد' owner=person.full_name %}
                                        
                                        {% if perms.non_government_accounts.delete_personnel or perms.non_government_accounts.change_personnel %}
                                            <td class="action-td text-center">
                                                {% if erms.non_government_accounts.change_personnel %}
                                                    <a href="{% url 'non_government_accounts:personnel_update' person.pk %}" 
                                                    class="btn btn-outline-info mb-2 pb-0" title="ویرایش">
                                                    <i class="fa-solid fa-pen-to-square"></i>
                                                    </a>
                                                {% endif %}

                                                {% if perms.non_government_accounts.delete_personnel %}
                                                    <a href="javascript:void(0)"  
                                                    data-toggle="modal"
                                                    class="btn btn-outline-danger mb-2 ml-2 pb-0"
                                                    data-url="{% url 'non_government_accounts:personnel_delete' pk=person.pk %}"
                                                    data-target="#deleteItemModal" title="حذف"
                                                    data-message="آیا از حذف '{{ person.full_name }}' اطمینان دارید؟">
                                                    <i class="fa-solid fa-xmark" style="font-size: 1.2rem;"></i>
                                                    </a>
                                                {% endif %}
                                            </td>
                                        {% endif %}
                                    </tr>
                                {% endfor %}
        
                            </tbody>
                        
                        </table>
                    </div>
                </div>

                {% include 'partials/confirm_delete.html' with obj_name=persian_object_name %}
        
                {% include 'non_government_accounts/personnel_pagination.html' with page_obj=page_obj %}
        
            </div>

        </div>
    </div> 


{% endblock %}


{% block scripts %}

    <script src="{% static 'panel/dist/js/printThis.min.js' %}"></script>
    <script type="text/javascript" src="https://unpkg.com/xlsx@0.15.1/dist/xlsx.full.min.js"></script>
    <script src="{% static 'panel/dist/js/custom.js' %}"></script>
    <script src="{% static 'panel/dist/js/confirm_delete.js' %}"></script>
    <script src="{% static 'panel/dist/js/export_excel.js' %}"></script>

    <script>
        $(document).ready(function() {
            $("#search-btn").click(function() {
                if($('#search-input').val() != ''){
                    $("#search-form").submit();
               }
            });
        });
    </script>

{% endblock %}