{% extends 'base_list.html' %}
{% load static %}
{% load base_tags %}

{% block title %}لیست پرسنل{% endblock %}

{% block page_title %}لیست پرسنل{% endblock %}

{% block filter %}
{% include 'partials/search_print.html' with search_url=search_url date_filter=False list_url=list_url create_url=create_url title='افزودن پرسنل' create_perm=perms.non_government_accounts.add_personnel %}
{% endblock %}

{% block record_control %}
    {% if 'search' in request.resolver_match.url_name %}
        {% objects_records None search_url record_number records_count fields_order order_by list_filters %}
    {% else %}
        {% objects_records list_url None record_number records_count fields_order order_by %}
    {% endif %}
{% endblock %}

{% block table %}
{% include "non_government_accounts/tables/personnel_table.html" %}
{% endblock %}

{% block pagination %}
    {% include 'partials/objects_pagination.html' %}
{% endblock %}

{% block filter_control %}
    <script src="{% static 'scripts/non_government_accounts/personnel_list.js' %}"></script>
{% endblock %}