{% extends 'base_create_update.html' %}

{% block title %}
    {% if request.resolver_match.url_name == 'personnel_create' %}
        افزودن پرسنل
    {% else %}
        ویرایش پرسنل
    {% endif %} 
{% endblock %}

{% block page_title %}
    {% if request.resolver_match.url_name == 'personnel_create' %}
        <span>افزودن پرسنل</span>
    {% else %}
        <span>ویرایش پرسنل</span>
    {% endif %}
{% endblock %}

{% block form %}
	{% include "non_government_accounts/forms/personnel_form.html" %}
{% endblock %}