{% extends 'base_create_update.html' %}

{% block title %}
    {% if request.resolver_match.url_name == 'supplier_create' %}
        افزودن تأمین کنندگان
    {% else %}
        ویرایش تأمین کنندگان
    {% endif %} 
{% endblock %}

{% block page_title %}
    {% if request.resolver_match.url_name == 'supplier_create' %}
        <span>افزودن تأمین کنندگان</span>
    {% else %}
        <span>ویرایش تأمین کنندگان</span>
    {% endif %}
{% endblock %}

{% block form %}
	{% include "non_government_accounts/forms/supplier_form.html" %}
{% endblock %}