<script>
    // Chart.5 (Visits):
    const vis = $("#visit");

    const visit = new Chart(vis, {
        type: "line",
        data: {
            labels: [
                "شنبه",
                "یک‌شنبه",
                "دوشنبه",
                "سه‌شنبه",
                "چهارشنبه",
                "پنج‌شنبه",
                "جمعه",
            ],

            datasets: [
                {
                    data: [15000, 14700, 16500, 15600, 14700, 15000, 14000],
                    backgroundColor: "",
                    borderColor: "#17a2b8",
                    pointBackgroundColor: "#17a2b8",
                },
                {
                    data: [14000, 15700, 13500, 14600, 16700, 15200, 12500],
                    backgroundColor: "",
                    borderColor: "#ffc107",
                    pointBackgroundColor: "#ffc107",
                },
            ],
        },
        options: {
            scales: {
                yAxes: [
                    {
                        display: true,
                    },
                ],
                xAxes: [
                    {
                        display: true,
                    },
                ],
            },
            legend: {
                display: false,
            },
            layout: {
                padding: {
                    left: 5,
                    right: 5,
                    top: 5,
                    bottom: 5,
                },
            },
        },
    });
</script>