{% extends 'base_list.html' %}
{% load static %}
{% load base_tags %}

{% block title %}صندوق{% endblock %}

{% block page_title %}صندوق{% endblock %}

{% block filter %}
    {% include 'cheques_receive_pay/filters/operation_filter.html' with search_url=search_url date_filter=False create_url=create_url list_url=list_url title='ثبت عملیات صندوق' create_perm=perms.cheques_receive_pay.add_cashbox %}
{% endblock %}

{% block record_control %}
    {% if 'search' in request.resolver_match.url_name %}
        {% objects_records None search_url record_number records_count fields_order order_by list_filters %}
    {% else %}
        {% objects_records list_url None record_number records_count fields_order order_by %}
    {% endif %}
{% endblock %}
    
{% block table %}
    {% include "cheques_receive_pay/tables/cash_boxes_table.html" %}
{% endblock %}
    
{% block pagination %}
    {% include 'partials/objects_pagination.html' %}
{% endblock %}
    
{% block filter_control %}
    <script src="{% static 'scripts/cheques_receive_pay/cash_boxes_list.js' %}"></script>
{% endblock %}