{% extends 'base_create_update.html' %}
{% load static %}

{% block title %}
    {% if request.resolver_match.url_name == 'cheque_create' %}
        ثبت چک 
    {% else %}
        ویرایش چک
    {% endif %} 
{% endblock %}

{% block page_title %}
    {% if request.resolver_match.url_name == 'cheque_create' %}
        <span>ثبت چک</span>
    {% else %}
        <span>ویرایش چک</span>
    {% endif %}
{% endblock %}

{% block form %}
	{% include "cheques_receive_pay/forms/cheque_form.html" %}
{% endblock %}

{% block form_control %}
    <script src="{% static 'scripts/cheques_receive_pay/cheque_form.js' %}"></script>
{% endblock %}