{% extends 'base_list.html' %}
{% load static %}

{% block title %}لیست چک‌ها{% endblock %}

{% block page_title %}لیست چک‌ها{% endblock %}

{% block filter %}
    {% include 'cheques_receive_pay/filters/cheques_filter.html' with search_url=search_url date_filter=True create_url=create_url list_url=list_url title='ثبت چک' create_perm=perms.cheques_receive_pay.add_cheques %}
{% endblock %}
    
{% block table %}
    {% include 'cheques_receive_pay/tables/cheques_table.html' with obj_name=persian_object_name %}
{% endblock %}
    
{% block pagination %}
    {% include 'cheques_receive_pay/paginations/cheques_pagination.html' with page_obj=page_obj %}
{% endblock %}
    
{% block filter_control %}
    <script src="{% static 'scripts/cheques_receive_pay/cheques_list.js' %}"></script>
{% endblock %}