{% extends 'base_create_update.html' %}
{% load static %}

{% block title %}
    {% if request.resolver_match.url_name == 'fund_create' %}
        ثبت عملیات تنخواه
    {% else %}
        ویرایش عملیات تنخواه
    {% endif %}
{% endblock %}

{% block page_title %}
    {% if request.resolver_match.url_name == 'fund_create' %}
        <span>ثبت عملیات تنخواه</span>
    {% else %}
        <span>ویرایش عملیات تنخواه</span>
    {% endif %}
{% endblock %}

{% block form %}
	{% include "cheques_receive_pay/forms/fund_form.html" %}
{% endblock %}

{% block form_control %}
    {% if request.resolver_match.url_name == 'fund_update' %}
        <script src="{% static 'scripts/cheques_receive_pay/fund_update.js' %}"></script>
    {% endif %}
    <script src="{% static 'scripts/cheques_receive_pay/fund_form.js' %}"></script>
{% endblock %}