{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}


{% block title %}
    {% if request.resolver_match.url_name == 'cheque_create' %}
        ثبت دریافت / پرداخت 
    {% else %}
        ویرایش دریافت / پرداخت
    {% endif %} 
{% endblock %}

{% block link %}

<link rel="stylesheet" href="{% static 'jalali_date_picker/jalalidatepicker.min.css' %}">

{% endblock %}


{% block page_title %}
    {% if request.resolver_match.url_name == 'cheque_create' %}
        <span>ثبت دریافت / پرداخت</span>
    {% else %}
        <span>ویرایش دریافت / پرداخت</span>
    {% endif %}
{% endblock %}



{% block main %}

<div class="card card-primary p-5">

    <div class="card-body col-12 col-lg-8 offset-lg-2">

      <form method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <p>
            <i class="text-info">پر کردن موارد ستاره‌دار الزامی می‌باشد</i>
          </p>
          {% if form.non_field_errors %}
            <div class="errors">
                {% for error in form.non_field_errors %}
                <span>{{ error }}</span>
                {% endfor %}
            </div>
          {% endif %}
          <div class="row">

              <div class="col-12 col-xl-6 mb-3">
                  {{ form.project|as_crispy_field }}
              </div>

              <div class="col-12 col-xl-6 mb-3">
                {{ form.organ|as_crispy_field }}
              </div>

            <fieldset class="input-group border-bottom mb-3">
                <legend class="mb-3">
                    <i class="bg-info text-light p-1 rounded" style="font-size: 1.2rem;">طرف حساب غیردولتی</i>
                </legend>
                <div class="col-12 col-xl-6 mb-3">
                    {{ form.contractor|as_crispy_field }}
                </div>

                <div class="col-12 col-xl-6 mb-3">
                    {{ form.supplier|as_crispy_field }}
                </div>

                <div class="col-12 col-xl-6 mb-3">
                    {{ form.personnel|as_crispy_field }}
                </div>
                
            </fieldset>


              <div class="col-12 col-xl-6 mb-3">
                {{ form.receive_pay|as_crispy_field }}
              </div>

              <div class="col-12 col-xl-6 mb-3">
                {{ form.amount|as_crispy_field }}
              </div>
             
              <div class="col-12 col-xl-6 mb-3">
                  {{ form.regard_to|as_crispy_field }}
              </div>
              
              <div class="col-12 col-xl-6 mb-3">
                  <label>{{ form.date.label }}*</label>
                  {{ form.date|add_class:"form-control"|attr:"data-jdp"|attr:"placeholder:برای انتخاب تاریخ و ساعت کلیک کنید"|attr:"autocomplete:off" }}
                  {% if form.date.errors %}
                        {% for error in form.date.errors %}
                            <p class="text-danger">{{ error }}</p>
                        {% endfor %}
                  {% endif %}
              </div>
              
              <div class="col-12 col-xl-6 mb-3">
                  {{ form.receipt_image|as_crispy_field }}
              </div>
              
          </div>

          <div class="row">
            <div class="col-8 col-sm-6 col-xl-4 my-4">
                <button class="btn btn-success btn-block" type="submit">
                    {% if request.resolver_match.url_name == 'receive_pay_create' %}
                        <span>ثبت دریافت / پرداخت</span>
                    {% else %}
                        <span>ویرایش دریافت / پرداخت</span>
                    {% endif %}
                </button>
              </div>
          </div>
      </form>

    </div>

  </div>

{% endblock  %}


{% block scripts %}

<script src="{% static 'jalali_date_picker/jalalidatepicker.min.js' %}"></script>

<script>
    $(document).ready(function () {
       
        jalaliDatepicker.startWatch({ 
            time: true
        });

       
        $('#id_date').on('input', function (e) { 
            e.preventDefault();
            var date_value = $('#id_date').val();

            $('#id_date').val(date_value.replaceAll('/', '-'));
        });

        
   });

</script>

{% endblock %}

