{% extends 'base_create_update.html' %}
{% load static %}

{% block title %}
    {% if request.resolver_match.url_name == 'receive_pay_create' %}
        ثبت دریافت / پرداخت 
    {% else %}
        ویرایش دریافت / پرداخت
    {% endif %} 
{% endblock %}

{% block page_title %}
    {% if request.resolver_match.url_name == 'receive_pay_create' %}
        <span>ثبت دریافت / پرداخت</span>
    {% else %}
        <span>ویرایش دریافت / پرداخت</span>
    {% endif %}
{% endblock %}

{% block form %}
	{% include "cheques_receive_pay/forms/receive_pay_form.html" %}
{% endblock %}

{% block form_control %}
    <script src="{% static 'scripts/cheques_receive_pay/receive_pay_form.js' %}"></script>
{% endblock %}