{% extends 'base_list.html' %}
{% load static %}

{% block title %}لیست دریافت‌ها و پرداخت‌ها{% endblock %}

{% block page_title %}لیست دریافت‌ها و پرداخت‌ها{% endblock %}

{% block filter %}
    {% include 'partials/search_print.html' with search_url=search_url date_filter=True create_url=create_url list_url=list_url title='ثبت چک' create_perm=perms.cheques_receive_pay.add_receivepay %}                
{% endblock %}

{% block table %}
    {% include 'cheques_receive_pay/tables/receive_pays_table.html' %}
{% endblock %}

{% block pagination %}
    {% include 'cheques_receive_pay/paginations/receive_pays_pagination.html' with page_obj=page_obj %}
{% endblock %}

{% block filter_control %}
    <script src="{% static 'scripts/cheques_receive_pay/receive_pays_list.js' %}"></script>
{% endblock %}