<div class="row">
    <div class="col-12 col-xl-6 mb-3">
        <label>{{ form.password.label }}*</label>
        {% if form.password.errors %}
          <div class="input-group flex-row-reverse">
              <span class="fa-solid fa-eye fa-eye-slash 
              pt-2 pl-2 border border-left-0 rounded border-danger" 
              id="password-toggle-icon"></span>
              <input type="password" name="password" value="{{ form.password.value }}" 
              dir="rtl" autocomplete="off" 
              class="form-control is-invalid border border-danger rounded" id="id_password">
          </div>
          <div class="mb-3 mt-1">
              {% for error in form.password.errors %}
                  <strong class="form-text text-danger" style="font-size:80%">{{ error }}</strong>
              {% endfor %}
          </div>
        {% else %}
          <div class="input-group mb-3 flex-row-reverse">
              <span class="fa-solid fa-eye fa-eye-slash 
              pt-2 pl-2 border border-left-0 rounded" id="password-toggle-icon"></span>
              <input type="password" name="password" 
              {% if form.password.value %}value="{{ form.password.value }}"{% endif %}  
               autocomplete="off" 
              class="form-control border rounded" id="id_password">
          </div>
        {% endif %}
        <p class="mb-0"><small class="form-text text-muted">رمز عبور نباید شبیه نام کاربری باشد</small></p>
        <p class="mt-0"><small class="form-text text-muted">رمز عبور شما می‌بایست حداقل از ۸ کاراکتر شامل حروف و اعداد تشکیل شده باشد</small></p>
    </div>
</div>

<div class="row">
    <div class="col-12 col-xl-6 mb-3">
        <label>{{ form.confirm_password.label }}*</label>
        {% if form.confirm_password.errors %}
          <div class="input-group flex-row-reverse">
              <span class="fa-solid fa-eye fa-eye-slash 
              pt-2 pl-2 border border-left-0 rounded border-danger" 
              id="confirm-toggle-icon"></span>
              <input type="password" name="confirm_password" value="{{ form.confirm_password.value }}" 
              dir="rtl" autocomplete="off" 
              class="form-control is-invalid border border-danger rounded" id="id_confirm_password">
          </div>
          <div class="mb-3 mt-1">
              {% for error in form.confirm_password.errors %}
                  <strong class="form-text text-danger" style="font-size:80%">{{ error }}</strong>
              {% endfor %}
          </div>
        {% else %}
          <div class="input-group mb-3 flex-row-reverse">
              <span class="fa-solid fa-eye fa-eye-slash 
              pt-2 pl-2 border border-left-0 rounded" id="confirm-toggle-icon"></span>
              <input type="password" name="confirm_password" 
              {% if form.confirm_password.value %}value="{{ form.confirm_password.value }}"{% endif %}  
               autocomplete="off" 
              class="form-control border rounded" id="id_confirm_password">
          </div>
        {% endif %}
    </div>
</div>

<div class="row">
    <div class="col-8 col-sm-6 col-xl-4 my-4">
        <button class="btn btn-success btn-block" type="submit" id="submit-btn">
            <span>تغییر رمز عبور</span>
        </button>
    </div>
</div>

