{% load crispy_forms_tags %}
{% load widget_tweaks %}

<div class="row">    
    <div class="col-12 col-xl-6 mb-3">
        {{ form.username|as_crispy_field }}
    </div>
  {% if request.resolver_match.url_name == 'user_create' %}
    
    <div class="col-12 col-xl-6 mb-3">
      <label>{{ form.password.label }}*</label>
      {% if form.password.errors %}
        <div class="input-group flex-row-reverse">
            <span class="fa-solid fa-eye fa-eye-slash 
            pt-2 pl-2 border border-left-0 rounded border-danger" 
            id="password-toggle-icon"></span>
            <input type="password" name="password" value="{{ form.password.value }}" 
            dir="rtl" autocomplete="off" 
            class="form-control is-invalid border border-danger rounded" id="id_password">
        </div>
        <div class="mb-3 mt-1">
            {% for error in form.password.errors %}
                <strong class="form-text text-danger" style="font-size:80%">{{ error }}</strong>
            {% endfor %}
        </div>
      {% else %}
        <div class="input-group mb-3 flex-row-reverse">
            <span class="fa-solid fa-eye fa-eye-slash 
            pt-2 pl-2 border border-left-0 rounded" id="password-toggle-icon"></span>
            <input type="password" name="password" 
            {% if form.password.value %}value="{{ form.password.value }}"{% endif %}  
             autocomplete="off" 
            class="form-control border rounded" id="id_password">
        </div>
      {% endif %}
    </div>

    <div class="col-12 col-xl-6 mb-3">
      <label>{{ form.confirm_password.label }}*</label>
      {% if form.confirm_password.errors %}
        <div class="input-group flex-row-reverse">
            <span class="fa-solid fa-eye fa-eye-slash 
            pt-2 pl-2 border border-left-0 rounded border-danger" 
            id="confirm-toggle-icon"></span>
            <input type="password" name="confirm_password" value="{{ form.confirm_password.value }}" 
            dir="rtl" autocomplete="off" 
            class="form-control is-invalid border border-danger rounded" id="id_confirm_password">
        </div>
        <div class="mb-3 mt-1">
            {% for error in form.confirm_password.errors %}
                <strong class="form-text text-danger" style="font-size:80%">{{ error }}</strong>
            {% endfor %}
        </div>
      {% else %}
        <div class="input-group mb-3 flex-row-reverse">
            <span class="fa-solid fa-eye fa-eye-slash 
            pt-2 pl-2 border border-left-0 rounded" id="confirm-toggle-icon"></span>
            <input type="password" name="confirm_password" 
            {% if form.confirm_password.value %}value="{{ form.confirm_password.value }}"{% endif %}  
             autocomplete="off" 
            class="form-control border rounded" id="id_confirm_password">
        </div>
      {% endif %}
    </div>

  {% endif %}

    <div class="col-12 col-xl-6 mb-3">
      <label>{{ form.access_groups.label }}*</label>
      <select name="access_groups" class="selectmultiple form-control 
      {% if form.access_groups.errors %}border border-danger{% endif %}" 
      id="id_access_groups" multiple>
        {% if request.resolver_match.url_name == 'user_create' %}
          {% for group in all_groups %}
              <option value="{{ group.name }}">
                  {{ group.name }}
              </option>
          {% endfor %}
        {% else %}
          {% for group in all_groups %}
              <option value="{{ group.name }}" {% if group in user_groups %}selected{% endif %}>
                  {{ group.name }}
              </option>
          {% endfor %}
        {% endif %}
      </select>
      {% if form.access_groups.errors %}
          {% for error in form.access_groups.errors %}
              <strong class="form-text text-danger" style="font-size:80%">{{ error }}</strong>
          {% endfor %}
      {% endif %}
    </div>
    <div class="col-12 col-xl-6 mb-3">
        {{ form.mobile_number|as_crispy_field }}
    </div>
    <div class="col-12 col-xl-6 mb-3">
        {{ form.first_name|as_crispy_field }}
    </div>
    <div class="col-12 col-xl-6 mb-3">
        {{ form.last_name|as_crispy_field }}
    </div>

  {% if request.resolver_match.url_name == 'user_update' %}
    <div class="col-12 col-xl-6 mb-3">
        {{ form.is_active|as_crispy_field }}
    </div>
  {% endif %}

</div>
<div class="row">
<div class="col-8 col-sm-6 col-xl-4 my-4">
    <button class="btn btn-success btn-block" type="submit" id="submit-btn">
        {% if request.resolver_match.url_name == 'user_create' %}
            <span>ثبت مشخصات کاربر</span>
        {% else %}
            <span>ویرایش کاربر</span>
        {% endif %}
    </button>
  </div>
</div>

{% block scripts %}
    <script>
      // password
      const passwordField = document.getElementById("id_password");
      const togglePassword = document.querySelector("#password-toggle-icon");

      togglePassword.addEventListener("click", function () {
      if (passwordField.type === "password") {
          passwordField.type = "text";
          togglePassword.classList.remove("fa-eye");
          togglePassword.classList.add("fa-eye-slash");
      } else {
          passwordField.type = "password";
          togglePassword.classList.remove("fa-eye-slash");
          togglePassword.classList.add("fa-eye");
      }
      });

      // confirm password
      const confirmPasswordField = document.getElementById("id_confirm_password");
      const toggleConfirmPassword = document.querySelector("#confirm-toggle-icon");

      toggleConfirmPassword.addEventListener("click", function () {
      if (confirmPasswordField.type === "password") {
          confirmPasswordField.type = "text";
          toggleConfirmPassword.classList.remove("fa-eye");
          toggleConfirmPassword.classList.add("fa-eye-slash");
      } else {
          confirmPasswordField.type = "password";
          toggleConfirmPassword.classList.remove("fa-eye-slash");
          toggleConfirmPassword.classList.add("fa-eye");
      }
      });
    </script>
{% endblock %}