{% load crispy_forms_tags %}
{% load widget_tweaks %}

<div class="row">
    <div class="col-12 col-xl-6 mb-3">
        {{ form.organization|as_crispy_field }}
    </div>
    <div class="col-12 col-xl-6 mb-3">
        {{ form.project|as_crispy_field }}
    </div>
    <div class="col-12 col-xl-6 mb-3">
        {{ form.payment_for|as_crispy_field }}
    </div>
    <div class="col-12 col-xl-6 mb-3">
        {{ form.payment_amount|as_crispy_field }}
        <small class="form-text text-muted">
            <span id="counter">0</span>
            <span>ریال</span>
        </small>
    </div>
    <div class="col-12 col-xl-6 mb-3">
        <label>{{ form.payment_date.label }}*</label>
        {% if form.payment_date.errors %}
            {{ form.payment_date|add_class:"form-control border border-danger"|attr:"data-jdp"|attr:"placeholder:برای انتخاب تاریخ کلیک کنید"|attr:"autocomplete:off" }}
            {% for error in form.payment_date.errors %}
                <strong class="form-text text-danger" style="font-size:80%">{{ error }}</strong>
            {% endfor %}
        {% else %}
            {{ form.payment_date|add_class:"form-control"|attr:"data-jdp"|attr:"placeholder:برای انتخاب تاریخ کلیک کنید"|attr:"autocomplete:off" }}
        {% endif %}
    </div>
</div>

<div class="row">
  <div class="col-8 col-sm-6 col-xl-4 mb-3">
      <button class="btn btn-success btn-block" type="submit">
          {% if request.resolver_match.url_name == 'payment_create' %}
              <span>ثبت پرداخت‌</span>
          {% else %}
              <span>ویرایش پرداخت‌</span>
          {% endif %}
      </button>
    </div>
</div>