{% load crispy_forms_tags %}
{% load widget_tweaks %}

<div class="row">
    <div class="col-12 col-xl-6 mb-3">
        {{ form.organization|as_crispy_field }}
    </div>
    <div class="col-12 col-xl-6 mb-3">
        {{ form.project|as_crispy_field }}
    </div>
    <div class="col-12 col-xl-6 mb-3">
        {{ form.receive_for|as_crispy_field }}
    </div>
    <div class="col-12 col-xl-6 mb-3">
        {{ form.receive_amount|as_crispy_field }}
        <small class="form-text text-muted">
            <span id="counter">0</span>
            <span>ریال</span>
        </small>
    </div>
    <div class="col-12 col-xl-6 mb-3">
        <label>{{ form.receive_date.label }}*</label>        
        {% if form.receive_date.errors %}
            {{ form.receive_date|add_class:"form-control border border-danger"|attr:"data-jdp"|attr:"placeholder:برای انتخاب تاریخ کلیک کنید"|attr:"autocomplete:off" }}
            {% for error in form.receive_date.errors %}
                <strong class="form-text text-danger" style="font-size:80%">{{ error }}</strong>
            {% endfor %}
        {% else %}
            {{ form.receive_date|add_class:"form-control"|attr:"data-jdp"|attr:"placeholder:برای انتخاب تاریخ کلیک کنید"|attr:"autocomplete:off" }}
        {% endif %}
    </div>
</div>

<div class="row">
    <div class="col-8 col-sm-6 col-xl-4 my-4">
        <button class="btn btn-success btn-block" type="submit">
            {% if request.resolver_match.url_name == 'receive_create' %}
                <span>ثبت دریافت‌</span>
            {% else %}
                <span>ویرایش دریافت‌</span>
            {% endif %}
        </button>
    </div>
</div>