{% load static %}
{% load base_tags %}



<aside class="main-sidebar sidebar-dark-cyan elevation-4">

    

    <!-- Sidebar -->
    <div class="sidebar h-100">
        

         <!-- Brand Logo -->
        <a href="/" class="nav-link" style="border-bottom: 1px solid #4f5962;">
            <img src="{% static 'panel/dist/img/logo.700.png' %}" alt="AdminLTE Logo" style="opacity: .8" width="70">
            <span class="brand-text mr-2">املاک پایدار</span>
        </a>
    
       
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex justify-content-around">
            <div class="image">
                <img src="{% static 'panel/dist/img/co.png' %}" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
                <a href="#" class="d-block">{{ user.get_full_name }}</a>
            </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

                <li class="nav-item has-treeview
                    {% if request.resolver_match.app_name == 'government_accounts' %}menu-open{% endif %}">
                    <a href="#" class="nav-link 
                    {% if request.resolver_match.app_name == 'government_accounts' %}active{% endif %}">
                        <p class="mr-2" style="font-size: 1.2rem;">
                            طرف حساب دولتی
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        {% main_menu request 'government_accounts' 'organizations' 'organization_create' 'organization_update' '' 'fa-building-columns' 'ارگان‌ها' %}

                        {% main_menu request 'government_accounts' 'receives' 'receive_create' 'receive_update' 'receives_search' 'fa-file-invoice-dollar' 'دریافت‌ها' %}

                        {% main_menu request 'government_accounts' 'payments' 'payment_create' 'payment_update' 'payments_search' 'fa-money-check-dollar' 'پرداخت‌ها' %}

                        {% main_menu request 'government_accounts' 'activities' 'activity_create' 'activity_update' 'activities_search' 'fa-people-carry-box' 'فعالیت‌ها' %}

                    </ul>

                </li>

                <li class="nav-item has-treeview border-top border-light 
                    {% if request.resolver_match.app_name == 'non_government_accounts' %}menu-open{% endif %}">
                    <a href="#" class="nav-link
                    {% if request.resolver_match.app_name == 'non_government_accounts' %}active{% endif %}">
                        <p class="mr-2" style="font-size: 1.2rem;">
                            طرف حساب غیردولتی
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>

                    <ul class="nav nav-treeview">

                        {% main_menu request 'non_government_accounts' 'contractors' 'contractor_create' 'contractor_update' 'contractors_search' 'fa-person-digging' 'پیمانکاران' %}
                        
                        {% main_menu request 'non_government_accounts' 'suppliers' 'supplier_create' 'supplier_update' 'suppliers_search' 'fa-people-line' 'تأمین کنندگان' %}
                        
                        {% main_menu request 'non_government_accounts' 'personnel' 'personnel_create' 'personnel_update' 'personnel_search' 'fa-people-roof' 'پرسنل' %}
                        
                        {% main_menu request 'non_government_accounts' 'partners' 'partner_create' 'partner_update' 'partners_search' 'fa-user-group' 'شرکاء' %}

                        {% main_menu request 'non_government_accounts' 'buyers_sellers' 'buyer_seller_create' 'buyer_seller_update' 'buyers_sellers_search' 'fa-store' 'خریداران و فروشندگان' %}
                        
                        {% main_menu request 'non_government_accounts' 'orders' 'order_create' 'order_update' 'orders_search' 'fa-truck' 'سفارشات' %}
                        
                        {% main_menu request 'non_government_accounts' 'conflict_orders' 'conflict_order_create' 'conflict_order_update' 'conflict_orders_search' 'fa-truck-ramp-box' 'مغایرت سفارشات' %}
        
                    </ul>

                </li>

                <li class="nav-item has-treeview border-top border-light accordion
                    {% if request.resolver_match.app_name == 'projects' %}menu-open{% endif %}">
                    <a href="#" class="nav-link
                    {% if request.resolver_match.app_name == 'projects' %}active{% endif %}">
                        <p class="mr-2" style="font-size: 1.2rem;">
                            پروژه‌ها
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>

                    <ul class="nav nav-treeview">

                        {% main_menu request 'projects' 'projects' 'project_create' 'project_update' 'projects_search' 'fa-trowel-bricks' 'لیست پروژه‌ها' %}
        
                        {% main_menu request 'projects' 'owners' 'owner_create' 'owner_update' 'owners_search' 'fa-person-shelter' 'لیست مالکین' %}
                        
                        {% main_menu request 'projects' 'work_references' 'work_reference_create' 'work_reference_update' 'work_references_search' 'fa-person-arrow-up-from-line' 'ارجاع کارها' %}
                        
                        {% main_menu request 'projects' 'costs' 'cost_create' 'cost_update' 'costs_search' 'fa-cash-register' 'هزینه‌ها' %}
                        
                        {% main_menu request 'projects' 'payments_images' 'payments_image_create' 'payments_image_update' 'payments_images_search' 'fa-file-image' 'تصاویر فیش‌های پرداختی' %}

                        <li class="nav-item">
                            <a href="{% url 'projects:charts' %}" class="nav-link
                            {% if request.resolver_match.url_name == 'charts' %}
                                active
                            {% endif %}">
                                <i class="fa-solid fa-chart-line text-primary" style="font-size: 1.2rem;"></i>
                                <span class="ml-2">نمودارها</span>
                            </a>
                        </li>
                    </ul>

                </li>

                <li class="nav-item has-treeview border-top border-light 
                {% if request.resolver_match.app_name == 'projects_docs' %}menu-open{% endif %}">
                    <a href="#" class="nav-link
                    {% if request.resolver_match.app_name == 'projects_docs' %}active{% endif %}">
                        <p class="mr-2" style="font-size: 1.2rem;">
                            اسناد مرتبط با پروژه‌ها
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>

                    
                    <ul class="nav nav-treeview">
                        
                        {% main_menu request 'projects_docs' 'contracts' 'contract_create' 'contract_update' 'contracts_search' 'fa-handshake' 'قراردادها' %}
                        
                        {% main_menu request 'projects_docs' 'proceedings' 'proceeding_create' 'proceeding_update' 'proceedings_search' 'fa-users-between-lines' 'صورت جلسه‌ها' %}
                        
                        {% main_menu request 'projects_docs' 'agreements' 'agreement_create' 'agreement_update' 'agreements_search' 'fa-people-arrows' 'توافق‌نامه‌ها' %}
                        
                        {% main_menu request 'projects_docs' 'bank_receipts' 'bank_receipt_create' 'bank_receipt_update' 'bank_receipts_search' 'fa-file-invoice' 'رسیدهای بانکی' %}
                        
                        {% main_menu request 'projects_docs' 'condition_statements' 'condition_statement_create' 'condition_statement_update' 'condition_statements_search' 'fa-file-signature' 'صورت وضعیت‌ها' %}
                        
                        {% main_menu request 'projects_docs' 'registered_docs' 'registered_doc_create' 'registered_doc_update' 'registered_docs_search' 'fa-file-contract' 'اسناد ثبتی' %}
                        
                        {% main_menu request 'projects_docs' 'official_docs' 'official_doc_create' 'official_doc_update' 'official_docs_search' 'fa-id-card' 'اسناد اداری' %}

                    </ul>

                </li>

                <li class="nav-item has-treeview border-top border-light
                {% if request.resolver_match.app_name == 'cheques_receive_pay' %}menu-open{% endif %}">
                    <a href="#" class="nav-link
                    {% if request.resolver_match.app_name == 'cheques_receive_pay' %}active{% endif %}">
                        <p class="mr-2" style="font-size: 1.2rem;">
                            حسابداری
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">

                        {% main_menu request 'cheques_receive_pay' 'cheques' 'cheque_create' 'cheque_update' 'cheques_search' 'fa-wallet' 'چک‌ها' %}
                        
                        {% main_menu request 'cheques_receive_pay' 'receive_pays' 'receive_pay_create' 'receive_pay_update' 'receive_pays_search' 'fa-money-bill-transfer' 'دریافت‌ها و پرداخت‌ها' %}

                        {% main_menu request 'cheques_receive_pay' 'funds' 'fund_create' 'fund_update' 'funds_search' 'fa-user-tag' 'تنخواه' %}
                        
                        {% main_menu request 'cheques_receive_pay' 'cash_boxes' 'cash_box_create' 'cash_box_update' 'cash_boxes_search' 'fa-sack-dollar' 'صندوق' %}
                        
                    </ul>

                </li>

                <li class="nav-item has-treeview border-top border-light
                {% if request.resolver_match.app_name == 'warehousing' %}menu-open{% endif %}">
                    <a href="#" class="nav-link
                    {% if request.resolver_match.app_name == 'warehousing' %}active{% endif %}">
                        <p class="mr-2" style="font-size: 1.2rem;">
                            انبارداری
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>


                    <ul class="nav nav-treeview">

                       {% main_menu request 'warehousing' 'warehouse_imports' 'warehouse_import_create' 'warehouse_import_update' 'warehouse_imports_search' 'fa-arrow-right-to-bracket' 'ورود به انبار اصلی' %}
                       
                       {% main_menu request 'warehousing' 'warehouse_exports' 'warehouse_export_create' 'warehouse_export_update' 'warehouse_exports_search' 'fa-arrow-right-from-bracket' 'خروج از انبار اصلی' %}
                       
                       {% main_menu request 'warehousing' 'project_warehouses' 'project_warehouse_create' 'project_warehouse_update' 'project_warehouses_search' 'fa-tent' 'انبار پروژه' %}

                       {% main_menu request 'warehousing' 'use_certificates' 'use_certificate_create' 'use_certificate_update' 'use_certificates_search' 'fa-file-import' 'گواهی‌های مصرف کالا' %}

                       {% main_menu request 'warehousing' 'stuffs' 'stuff_create' 'stuff_update' '' 'fa-boxes-stacked' 'کالاها' %}
        
                    </ul>

                </li>

                <li class="nav-item border-top border-light ">
                    <a href="#" class="nav-link">
                        <i class="fa-regular fa-paste text-primary" style="font-size: 1.2rem;"></i>
                        <span class="ml-2">گزارشات</span>
                    </a>
                </li>

                <li class="nav-item border-top border-light ">
                    <a href="#" class="nav-link">
                        <i class="fa-solid fa-comments text-primary" style="font-size: 1.2rem;"></i>
                        <span class="ml-2">
                            پیام‌ها
                            <span class="badge badge-danger">جدید</span>
                        </span>
                    </a>
                </li>
                
                <p class="border-top border-light mb-0"></p>

                {% main_menu request 'account' 'users' 'user_create' 'user_update' 'users_search' 'fa-users' 'کاربران' %}
                
                <p class="border-top border-light mb-0"></p>

                {% main_menu request 'account' 'groups' 'group_create' 'group_update' '' 'fa-elevator' 'گروه‌های دسترسی‌' %}


                <li class="nav-item border-top border-light mb-3">
                    <a href="#" class="nav-link d-block">
                        <i class="fa-solid fa-database text-primary" style="font-size: 1.2rem;"></i>
                        <span class="ml-2">پشتیبان گیری پایگاه داده</span>
                    </a>
                </li>
                
            </ul>
        </nav>

        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>

