{% load crispy_forms_tags %}

<div class="row">
    <div class="col-12 col-xl-6 mb-3">
        {{ form.full_name|as_crispy_field }}
    </div>
    <div class="col-12 col-xl-6 mb-3">
        {{ form.phone|as_crispy_field }}
    </div>
    <div class="col-12 col-xl-6 mb-3">
      {{ form.national_card_image|as_crispy_field }}
    </div>
    <div class="col-12 col-xl-6 mb-3">
        {{ form.birth_certificate_image|as_crispy_field }}
    </div>
    <div class="col-12 col-xl-6 mb-3">
        {{ form.ownership_document_image|as_crispy_field }}
    </div>
</div>

<div class="row">
  <div class="col-8 col-sm-6 col-xl-4 my-5">
      <button class="btn btn-success btn-block" type="submit">
          {% if request.resolver_match.url_name == 'owner_create' %}
              <span>افزودن مالک</span>
          {% else %}
              <span>ویرایش مالک</span>
          {% endif %}
      </button>
    </div>
</div>