{% load crispy_forms_tags %}
{% load widget_tweaks %}

<div class="row">
    <div class="col-12 col-xl-6 mb-3 mb-3">
        {{ form.project|as_crispy_field }}
    </div>
    
    <div class="col-12 col-xl-6 mb-3 mb-3">
        {{ form.activity_type|as_crispy_field }}
    </div>
    <div class="col-12 col-xl-6 mb-3 mb-3">
        {{ form.referrer|as_crispy_field }}
    </div>
    <div class="col-12 col-xl-6 mb-3 mb-3">
        {{ form.doing_agent|as_crispy_field }}
    </div>

    <div class="col-12 col-xl-6 mb-3 mb-3">
      <label for="">{{ form.result_explan.label }}*</label>
      {{ form.result_explan|add_class:"form-control"|attr:"rows:5" }}
      <br>
      {{ form.follow_confirm|as_crispy_field }}
    </div>

    <div class="col-12 col-xl-6 mb-3 mb-3">
        <label>{{ form.follow_date.label }}*</label>
        {{ form.follow_date|add_class:"form-control"|attr:"data-jdp"|attr:"placeholder:برای انتخاب تاریخ کلیک کنید"|attr:"autocomplete:off" }}

        {% if form.follow_date.errors %}
              {% for error in form.follow_date.errors %}
                  <p class="text-danger">{{ error }}</p>
              {% endfor %}
        {% endif %}
    </div>

</div>

<div class="row">
  <div class="col-8 col-sm-6 col-xl-4 my-4">
      <button class="btn btn-success btn-block" type="submit">
          {% if request.resolver_match.url_name == 'work_reference_create' %}
              <span>ثبت ارجاع کار</span>
          {% else %}
              <span>ویرایش ارجاع کار</span>
          {% endif %}
      </button>
    </div>
</div>