{% extends 'base_create_update.html' %}

{% block title %}
    {% if request.resolver_match.url_name == 'project_warehouse_create' %}
        ثبت ورود و خروج کالا به انبار پروژه 
    {% else %}
        ویرایش ورود و خروج کالا به انبار پروژه
    {% endif %} 
{% endblock %}

{% block page_title %}
    {% if request.resolver_match.url_name == 'project_warehouse_create' %}
        <span>ثبت ورود و خروج کالا به انبار پروژه</span>
    {% else %}
        <span>ویرایش ورود و خروج کالا به انبار پروژه</span>
    {% endif %}
{% endblock %}

{% block form %}
	{% include "warehousing/forms/project_warehouse_form.html" %}
{% endblock %}