{% extends 'base_list.html' %}
{% load static %}

{% block title %}لیست ورود و خروج کالا به انبار پروژه{% endblock %}

{% block page_title %}لیست ورود و خروج کالا به انبار پروژه{% endblock %}

{% block filter %}
    {% include 'warehousing/filters/project_warehouses_filter.html' with search_url=search_url date_filter=False create_url=create_url list_url=list_url title='ثبت عملیات انبار پروژه' create_perm=perms.warehousing.add_projectwarehouse %}
{% endblock %}

{% block table %}
    {% include 'warehousing/tables/project_warehouses_table.html' %}
{% endblock %}

{% block pagination %}
    {% include 'warehousing/paginations/project_warehouses_pagination.html' with page_obj=page_obj %}
{% endblock %}

{% block filter_control %}
    <script src="{% static 'scripts/warehousing/project_warehouses_list.js' %}"></script>
{% endblock %}