{% extends 'base.html' %}
{% load static %}
{% load base_tags %}

{% block title %}لیست کالاها{% endblock %}

{% block page_title %}لیست کالاها{% endblock %}


{% block main %}

    {% include 'partials/messages.html' with messages=messages not_found=not_found %}

<div class="card">
    
    <div class="card-body">
      <div id="example1_wrapper" class="dataTables_wrapper dt-bootstrap4">

        {% include 'partials/search_print.html' with search_url=search_url date_filter=False create_url=create_url list_url=list_url title='افزودن کالا' create_perm=perms.warehousing.add_stuff %}
        
        <div class="row">
            <div class="col-sm-6 offset-sm-3">
                <table id="data-table" class="table table-bordered table-striped dataTable sortable" role="grid" aria-describedby="example1_info">
                    <thead>
                        <tr role="row">

                            <th class="text-center rounded-0" rowspan="1" colspan="1" style="width: 358.797px;;">
                                ردیف
                            </th>

                            <th class="text-center rounded-0" rowspan="1" colspan="1" style="width: 358.797px;;">
                                نوع کالا
                            </th>

                            <th class="text-center rounded-0" rowspan="1" colspan="1" style="width: 358.797px;;">
                                موجودی انبار اصلی
                            </th>

                            {% if perms.warehousing.delete_stuff or perms.warehousing.change_stuff %}
                                <th class="text-center border-left rounded-0 action-th" rowspan="1" colspan="1" style="width: 236.094px;">
                                    اقدام
                                </th>
                            {% endif %}
                        </tr>
                    </thead>
                    <tbody>

                        {% for stuff in stuffs %}
                            <tr role="row" class="odd">
                                <td>{{ forloop.counter }}</td>
                                <td>{{ stuff.stuff_type }}</td>

                                {% total_stock stuff.stuff_type stuff.measurement_unit %}

                                {% if perms.warehousing.delete_stuff or perms.warehousing.change_stuff %}
                                    <td class="border-left text-center action-td">
                                        {% if perms.warehousing.change_stuff %}
                                            <a href="{% url 'warehousing:stuff_update' stuff.pk %}" 
                                            class="btn btn-outline-info mb-2 pb-0" title="ویرایش">
                                            <i class="fa-solid fa-pen-to-square"></i>
                                            </a>
                                        {% endif %}
                                        
                                        {% if perms.warehousing.delete_stuff %}
                                            <a href="javascript:void(0)"  
                                                data-toggle="modal"
                                                class="btn btn-outline-danger mb-2 ml-2 pb-0"
                                                data-url="{% url 'warehousing:stuff_delete' pk=stuff.pk %}"
                                                data-target="#deleteItemModal" title="حذف"
                                                data-message="آیا از حذف '{{ stuff.stuff_type }}' اطمینان دارید؟">
                                                <i class="fa-solid fa-xmark" style="font-size: 1.2rem;"></i>
                                            </a>
                                        {% endif %}
                                    </td>
                                {% endif %}
                            </tr>
                        {% endfor %}

                        

                    </tbody>
                   
                </table>
            </div>
        </div>

        {% include 'partials/confirm_delete.html' with obj_name=persian_object_name %}

        {% include 'warehousing/stuffs_pagination.html' with page_obj=page_obj %}
        
      </div>
    </div>
</div> 


{% endblock %}


{% block scripts %}

    <script src="{% static 'panel/dist/js/printThis.min.js' %}"></script>
    <script type="text/javascript" src="https://unpkg.com/xlsx@0.15.1/dist/xlsx.full.min.js"></script>
    <script src="{% static 'panel/dist/js/custom.js' %}"></script>
    <script src="{% static 'panel/dist/js/confirm_delete.js' %}"></script>
    <script src="{% static 'panel/dist/js/export_excel.js' %}"></script>

    <script>
        $(document).ready(function() {
            $("#search-btn").click(function() {
                if($('#search-input').val() != ''){
                    $("#search-form").submit();
            }
            });
        });
    </script>

{% endblock %}