{% extends 'base_list.html' %}
{% load static %}

{% block title %}لیست کالاها{% endblock %}

{% block page_title %}لیست کالاها{% endblock %}

{% block filter %}
    {% include 'partials/search_print.html' with search_url=search_url date_filter=False create_url=create_url list_url=list_url title='افزودن کالا' create_perm=perms.warehousing.add_stuff %}
{% endblock %}

{% block table %}
    {% include 'warehousing/tables/stuffs_table.html' with obj_name=persian_object_name %}
{% endblock %}

{% block pagination %}
    {% include 'warehousing/paginations/stuffs_pagination.html' with page_obj=page_obj %}
{% endblock %}

{% block filter_control %}
    <script src="{% static 'scripts/warehousing/stuffs_list.js' %}"></script>
{% endblock %}