{% extends 'base_list.html' %}
{% load static %}
{% load base_tags %}

{% block title %}لیست گواهی‌های مصرف کالا{% endblock %}

{% block page_title %}لیست گواهی‌های مصرف کالا{% endblock %}

{% block filter %}
    {% include 'warehousing/filters/use_certificates_filter.html' with search_url=search_url date_filter=False create_url=create_url list_url=list_url title='ثبت عملیات تنخواه' create_perm=perms.warehousing.add_usecertificate %}
{% endblock %}

{% block record_control %}
    {% if 'search' in request.resolver_match.url_name %}
        {% objects_records None search_url record_number records_count fields_order order_by list_filters %}
    {% else %}
        {% objects_records list_url None record_number records_count fields_order order_by %}
    {% endif %}
{% endblock %}

{% block table %}
    {% include 'warehousing/tables/use_certificates_table.html' %}
{% endblock %}

{% block pagination %}
    {% include 'partials/objects_pagination.html' %}
{% endblock %}
 
{% block filter_control %}
    <script src="{% static 'scripts/warehousing/use_certificates_list.js' %}"></script>
{% endblock %}