{% extends 'base_create_update.html' %}
{% load static %}

{% block title %}
    {% if request.resolver_match.url_name == 'use_certificate_create' %}
        ثبت گواهی مصرف 
    {% else %}
        ویرایش گواهی مصرف
    {% endif %} 
{% endblock %}

{% block page_title %}
    {% if request.resolver_match.url_name == 'use_certificate_create' %}
        <span>ثبت گواهی مصرف</span>
    {% else %}
        <span>ویرایش گواهی مصرف</span>
    {% endif %}
{% endblock %}

{% block form %}
	{% include "warehousing/forms/use_certificate_form.html" %}
{% endblock %}

{% block form_control %}
    <script src="{% static 'scripts/warehousing/use_certificate_form.js' %}"></script>
{% endblock %}