{% extends 'base_list.html' %}
{% load static %}

{% block title %}لیست گواهی‌های مصرف کالا{% endblock %}

{% block page_title %}لیست گواهی‌های مصرف کالا{% endblock %}

{% block filter %}
    {% include 'warehousing/filters/use_certificates_filter.html' with search_url=search_url date_filter=False create_url=create_url list_url=list_url title='ثبت عملیات تنخواه' create_perm=perms.warehousing.add_usecertificate %}
{% endblock %}

{% block table %}
    {% include 'warehousing/tables/use_certificates_table.html' %}
{% endblock %}

{% block pagination %}
    {% include 'warehousing/paginations/use_certificates_pagination.html' with page_obj=page_obj %}
{% endblock %}
 
{% block scripts %}
    <script src="{% static 'scripts/warehousing/use_certificates_list.js' %}"></script>
{% endblock %}