{% extends 'base_create_update.html' %}
{% load static %}

{% block title %}
    {% if request.resolver_match.url_name == 'warehouse_import_create' %}
        ثبت ورود کالا به انبار 
    {% else %}
        ویرایش کالای وارد شده به انبار
    {% endif %} 
{% endblock %}

{% block page_title %}
    {% if request.resolver_match.url_name == 'warehouse_import_create' %}
        <span>ثبت ورود کالا به انبار</span>
    {% else %}
        <span>ویرایش کالای وارد شده به انبار</span>
    {% endif %}
{% endblock %}

{% block form %}
	{% include "warehousing/forms/warehouse_import_form.html" %}
{% endblock %}

{% block form_control %}
    <script src="{% static 'scripts/warehousing/warehouse_imports_form.js' %}"></script>
{% endblock %}