{% extends "partials/search_print.html" %}

{% block filter %}
    <div class="form-group col-11 col-xl-3">
        <select name="is_returned" class="form-control" id="is-returned">
            <option value="all" selected>فیلتر مرجوعی</option>
            <option value="0" {% if request.GET.cheque_type == '0' %}selected{% endif %}>کالاهای غیرمرجوعی</option>
            <option value="1" {% if request.GET.cheque_type == '1' %}selected{% endif %}>کالاهای مرجوعی</option>
        </select>
    </div>
{% endblock %}