{% extends 'base_create_update.html' %}

{% block title %}
    {% if request.resolver_match.url_name == 'warehouse_export_create' %}
        ثبت خروج کالا از انبار 
    {% else %}
        ویرایش کالای خارج شده از انبار
    {% endif %} 
{% endblock %}

{% block page_title %}
    {% if request.resolver_match.url_name == 'warehouse_export_create' %}
        <span>ثبت خروج کالا از انبار</span>
    {% else %}
        <span>ویرایش کالای خارج شده از انبار</span>
    {% endif %}
{% endblock %}

{% block form %}
	{% include "warehousing/forms/warehouse_export_form.html" %}
{% endblock %}