{% extends 'base_list.html' %}
{% load static %}

{% block title %}لیست کالاهای خارج شده از انبار اصلی{% endblock %}

{% block page_title %}لیست کالاهای خارج شده از انبار اصلی{% endblock %}

{% block filter %}
    {% include 'partials/search_print.html' with search_url=search_url date_filter=False create_url=create_url list_url=list_url title='افزودن کالا به انبار' create_perm=perms.warehousing.add_mainwarehouseexport %}
{% endblock %}

{% block table %}
    {% include 'warehousing/tables/warehouse_exports_table.html' %}
{% endblock %}

{% block pagination %}
    {% include 'warehousing/paginations/warehouse_exports_pagination.html' with page_obj=page_obj %}
{% endblock %}
    
{% block filter_control %}
    <script src="{% static 'scripts/warehousing/warehouse_exports_list.js' %}"></script>
{% endblock %}