{% extends 'base_create_update.html' %}
{% load static %}

{% block title %}
    {% if request.resolver_match.url_name == 'warehouse_export_create' %}
        ثبت خروج کالا از انبار 
    {% else %}
        ویرایش کالای خارج شده از انبار
    {% endif %} 
{% endblock %}

{% block page_title %}
    {% if request.resolver_match.url_name == 'warehouse_export_create' %}
        <span>ثبت خروج کالا از انبار</span>
    {% else %}
        <span>ویرایش کالای خارج شده از انبار</span>
    {% endif %}
{% endblock %}

{% block extra_cart %}
    {% include "warehousing/tables/stuffs_type_table.html" with stuffs=stuffs %}
{% endblock %}

{% block form %}
	{% include "warehousing/forms/warehouse_export_form.html" %}
{% endblock %}

{% block form_control %}
    <script src="{% static 'scripts/warehousing/warehouse_export_form.js' %}"></script>
{% endblock %}