{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>سامانه پایدار | {% block title %}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" href="{% static 'panel/dist/img/logo.700.png' %}" type="image/x-icon">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" 
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" 
        crossorigin="anonymous" referrerpolicy="no-referrer">
        <link rel="stylesheet" href="{% static 'panel/dist/css/ionicons.min.css' %}">
        <link rel="stylesheet" href="{% static 'panel/plugins/icheck-bootstrap/icheck-bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'panel/dist/css/adminlte.min.css' %}">
        <link rel="stylesheet" href="{% static 'panel/dist/css/bootstrap_rtl.min.css' %}">
        <link rel="stylesheet" href="{% static 'farsi_fonts/farsi_font.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
        <style>
            body {
                background-image: url('{% static "panel/dist/img/Blog-Hero.jpg"%}');
                background-repeat: no-repeat;
                background-size: cover;
            }
        </style>
    </head>
    <body class="hold-transition">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3" style="padding-top: 5rem">
                    <div class="card m-auto p-4" style="border-radius: 10px; opacity: 0.9">
                        <div class="card-title">
                            <div class="text-center">
                                <img src="{% static 'panel/dist/img/logo.700.png' %}" alt="logo" width="130">
                            </div>
                            <h1 class="text-center">سامانه پایدار</h1>
                        </div>
                        <div class="card-body login-card-body">
                            <p class="login-box-msg">{% block desc %}{% endblock %}</p>
                
                            {% if form.non_field_errors %}
                                <div class="text-danger mb-3">
                                    {% for error in form.non_field_errors %}
                                        <span>{{ error }}</span>
                                        <i class="fa-solid fa-xmark-circle" style="font-size: 1.2rem;"></i>
                                    {% endfor %}
                                </div>
                            {% endif %}
                
                            {% block form %}{% endblock %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script src="{% static 'panel/plugins/jquery/jquery.min.js' %}"></script>
        <script src="{% static 'panel/plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    </body>
</html>