{% extends "auth/base_auth.html" %}

{% block title %}تغییر رمز عبور{% endblock %}

{% block desc %}برای تغییر رمز عبور، رمز کنونی و رمز جدید خود را وارد نمایید{% endblock %}

{% block form %}
    <form method="post">
        {% csrf_token %}
        {% if form.old_password.errors %}
            <div class="input-group flex-row-reverse">
                <input type="password" name="old_password" value="{{ form.old_password.value }}" 
                dir="rtl" placeholder="رمز عبور کنونی" autocomplete="off" 
                class="form-control border border-danger" id="id_old_password">
                <div class="input-group-append border border-danger">
                    <div class="input-group-text">
                        <span class="fas fa-lock"></span>
                    </div>
                </div>
            </div>
            <div class="text-danger mb-3 mt-1">
                {% for error in form.old_password.errors %}
                    <span>{{ error }}</span>
                    <i class="fa-solid fa-exclamation-circle" style="font-size: 1.2rem;"></i>
                {% endfor %}
            </div>
        {% else %}
            <div class="input-group mb-3 flex-row-reverse">
                <input type="password" name="old_password" 
                {% if form.old_password.value %}value="{{ form.old_password.value }}"{% endif %}  
                dir="rtl" placeholder="رمز عبور کنونی" autocomplete="off" 
                class="form-control" id="id_old_password">
                <div class="input-group-append ">
                    <div class="input-group-text">
                        <span class="fas fa-lock"></span>
                    </div>
                </div>
            </div>
        {% endif %}

        {% if form.new_password.errors %}
            <div class="input-group flex-row-reverse">
                <input type="password" name="new_password" dir="rtl" value="{{ form.new_password.value }}"
                placeholder="رمز عبور جدید" autocomplete="off" class="form-control border border-danger" 
                id="id_new_password">
                <div class="input-group-append border border-danger">
                    <div class="input-group-text">
                        <span class="fas fa-lock"></span>
                    </div>
                </div>
            </div>
            <div class="text-danger mb-3 mt-1">
                {% for error in form.new_password.errors %}
                    <span>{{ error }}</span>
                    <i class="fa-solid fa-exclamation-circle" style="font-size: 1.2rem;"></i>
                {% endfor %}
            </div>
        {% else %}
            <div class="input-group mb-3 flex-row-reverse">
                <input type="password" name="new_password" dir="rtl" 
                {% if form.new_password.value %}value="{{ form.new_password.value }}"{% endif %}
                placeholder="رمز عبور جدید" autocomplete="off" class="form-control" 
                id="id_new_password">
                <div class="input-group-append">
                    <div class="input-group-text">
                        <span class="fas fa-lock"></span>
                    </div>
                </div>
            </div>
        {% endif %}

        {% if form.confirm_new_password.errors %}
            <div class="input-group flex-row-reverse">
                <input type="password" name="confirm_new_password" dir="rtl" value="{{ form.confirm_new_password.value }}" 
                placeholder="تأیید رمز عبور جدید" autocomplete="off" class="form-control border border-danger" 
                id="id_confirm_new_password">
                <div class="input-group-append border border-danger">
                    <div class="input-group-text">
                        <span class="fas fa-lock"></span>
                    </div>
                </div>
            </div>
            <div class="text-danger mb-3 mt-1">
                {% for error in form.confirm_new_password.errors %}
                    <span>{{ error }}</span>
                    <i class="fa-solid fa-exclamation-circle" style="font-size: 1.2rem;"></i>
                {% endfor %}
            </div>
        {% else %}
            <div class="input-group mb-3 flex-row-reverse">
                <input type="password" name="confirm_new_password" dir="rtl"
                {% if form.confirm_new_password.value %}value="{{ form.confirm_new_password.value }}"{% endif %}
                placeholder="تأیید رمز عبور جدید"autocomplete="off" class="form-control" id="id_confirm_new_password">
                <div class="input-group-append">
                    <div class="input-group-text">
                        <span class="fas fa-lock"></span>
                    </div>
                </div>
            </div>
        {% endif %}
        
        <div class="row my-5">
            <div class="col-4 offset-4">
                <button type="submit" class="btn btn-primary btn-block btn-flat rounded">تغییر رمز عبور</button>
            </div>
        </div>
    </form>

    <div class="text-center">
        <a href="{% url 'index' %}" class="btn btn-default">
            <span>بازگشت به خانه</span>
            <i class="fa-solid fa-house"></i>
        </a>
    </div>
{% endblock %}