{% extends "auth/base_auth.html" %}

{% block title %}تغییر رمز عبور{% endblock %}

{% block desc %}برای تغییر رمز عبور، رمز کنونی و رمز جدید خود را وارد نمایید{% endblock %}

{% block form %}
    <form method="post">
        {% csrf_token %}
        {% if form.old_password.errors %}
            <div class="input-group flex-row-reverse">
                <span class="fa-solid fa-eye fa-eye-slash 
                pt-2 pl-2 border border-left-0 rounded border-danger" 
                id="old-toggle-icon"></span>
                <input type="password" name="old_password" value="{{ form.old_password.value }}" 
                dir="rtl" placeholder="رمز عبور کنونی" autocomplete="off" 
                class="form-control is-invalid border border-left-0 border-danger" id="id_old_password">
                <div class="input-group-append border border-danger">
                    <div class="input-group-text">
                        <span class="fas fa-lock"></span>
                    </div>
                </div>
            </div>
            <div class="text-danger mb-3 mt-1">
                {% for error in form.old_password.errors %}
                    <span>{{ error }}</span>
                    <i class="fa-solid fa-exclamation-circle" style="font-size: 1.2rem;"></i>
                {% endfor %}
            </div>
        {% else %}
            <div class="input-group mb-3 flex-row-reverse">
                <span class="fa-solid fa-eye fa-eye-slash 
                pt-2 pl-2 border border-left-0 rounded" id="old-toggle-icon"></span>
                <input type="password" name="old_password" 
                {% if form.old_password.value %}value="{{ form.old_password.value }}"{% endif %}  
                dir="rtl" placeholder="رمز عبور کنونی" autocomplete="off" 
                class="form-control border-left-0" id="id_old_password">
                <div class="input-group-append ">
                    <div class="input-group-text">
                        <span class="fas fa-lock"></span>
                    </div>
                </div>
            </div>
        {% endif %}

        {% if form.new_password.errors %}
            <div class="input-group flex-row-reverse">
                <span class="fa-solid fa-eye fa-eye-slash 
                pt-2 pl-2 border border-left-0 rounded border-danger" 
                id="new-toggle-icon"></span>
                <input type="password" name="new_password" dir="rtl" value="{{ form.new_password.value }}"
                placeholder="رمز عبور جدید" autocomplete="off" 
                class="form-control is-invalid border border-left-0 border-danger" 
                id="id_new_password">
                <div class="input-group-append border border-danger">
                    <div class="input-group-text">
                        <span class="fas fa-lock"></span>
                    </div>
                </div>
            </div>
            <div class="text-danger mb-3 mt-1">
                {% for error in form.new_password.errors %}
                    <span>{{ error }}</span>
                    <i class="fa-solid fa-exclamation-circle" style="font-size: 1.2rem;"></i>
                {% endfor %}
            </div>
        {% else %}
            <div class="input-group mb-3 flex-row-reverse">
                <span class="fa-solid fa-eye fa-eye-slash 
                pt-2 pl-2 border border-left-0 rounded" id="new-toggle-icon"></span>
                <input type="password" name="new_password" dir="rtl" 
                {% if form.new_password.value %}value="{{ form.new_password.value }}"{% endif %}
                placeholder="رمز عبور جدید" autocomplete="off" class="form-control border-left-0" 
                id="id_new_password">
                <div class="input-group-append">
                    <div class="input-group-text">
                        <span class="fas fa-lock"></span>
                    </div>
                </div>
            </div>
        {% endif %}

        {% if form.confirm_new_password.errors %}
            <div class="input-group flex-row-reverse">
                <span class="fa-solid fa-eye fa-eye-slash 
                pt-2 pl-2 border border-left-0 rounded border-danger" 
                id="confirm-toggle-icon"></span>
                <input type="password" name="confirm_new_password" dir="rtl" value="{{ form.confirm_new_password.value }}" 
                placeholder="تأیید رمز عبور جدید" autocomplete="off" 
                class="form-control is-invalid border border-left-0 border-danger" 
                id="id_confirm_new_password">
                <div class="input-group-append border border-danger">
                    <div class="input-group-text">
                        <span class="fas fa-lock"></span>
                    </div>
                </div>
            </div>
            <div class="text-danger mb-3 mt-1">
                {% for error in form.confirm_new_password.errors %}
                    <span>{{ error }}</span>
                    <i class="fa-solid fa-exclamation-circle" style="font-size: 1.2rem;"></i>
                {% endfor %}
            </div>
        {% else %}
            <div class="input-group mb-3 flex-row-reverse">
                <span class="fa-solid fa-eye fa-eye-slash 
                pt-2 pl-2 border border-left-0 rounded" id="confirm-toggle-icon"></span>
                <input type="password" name="confirm_new_password" dir="rtl"
                {% if form.confirm_new_password.value %}value="{{ form.confirm_new_password.value }}"{% endif %}
                placeholder="تأیید رمز عبور جدید"autocomplete="off" 
                class="form-control border-left-0" id="id_confirm_new_password">
                <div class="input-group-append">
                    <div class="input-group-text">
                        <span class="fas fa-lock"></span>
                    </div>
                </div>
            </div>
        {% endif %}
        
        <div class="row my-5">
            <div class="col-4 offset-4">
                <button type="submit" class="btn btn-primary btn-block btn-flat rounded">تغییر رمز عبور</button>
            </div>
        </div>
    </form>

    <div class="text-center">
        <a href="{% url 'index' %}" class="btn btn-default">
            <span>بازگشت به خانه</span>
            <i class="fa-solid fa-house"></i>
        </a>
    </div>
{% endblock %}

{% block scripts %}
<script>
    // old password
    const oldPasswordField = document.getElementById("id_old_password");
    const oldTogglePassword = document.querySelector("#old-toggle-icon");

    oldTogglePassword.addEventListener("click", function () {
    if (oldPasswordField.type === "password") {
        oldPasswordField.type = "text";
        oldTogglePassword.classList.remove("fa-eye");
        oldTogglePassword.classList.add("fa-eye-slash");
    } else {
        oldPasswordField.type = "password";
        oldTogglePassword.classList.remove("fa-eye-slash");
        oldTogglePassword.classList.add("fa-eye");
    }
    });

    // new password
    const newPasswordField = document.getElementById("id_new_password");
    const newTogglePassword = document.querySelector("#new-toggle-icon");

    newTogglePassword.addEventListener("click", function () {
    if (newPasswordField.type === "password") {
        newPasswordField.type = "text";
        newTogglePassword.classList.remove("fa-eye");
        newTogglePassword.classList.add("fa-eye-slash");
    } else {
        newPasswordField.type = "password";
        newTogglePassword.classList.remove("fa-eye-slash");
        newTogglePassword.classList.add("fa-eye");
    }
    });

    // confirm password
    const confirmPasswordField = document.getElementById("id_confirm_new_password");
    const toggleConfirmPassword = document.querySelector("#confirm-toggle-icon");

    toggleConfirmPassword.addEventListener("click", function () {
    if (confirmPasswordField.type === "password") {
        confirmPasswordField.type = "text";
        toggleConfirmPassword.classList.remove("fa-eye");
        toggleConfirmPassword.classList.add("fa-eye-slash");
    } else {
        confirmPasswordField.type = "password";
        toggleConfirmPassword.classList.remove("fa-eye-slash");
        toggleConfirmPassword.classList.add("fa-eye");
    }
    });
</script>
{% endblock %}