{% extends "partials/search_print.html" %}

{% block filter %}
    <div class="form-group col-11 col-xl-3">
        <select name="stuff_status" class="form-control" id="stuff-status">
            <option value="all" selected>فیلتر وضعیت کالا</option>
            <option value="exp" {% if request.GET.cheque_type == 'exp' %}selected{% endif %}>خروج از انبار</option>
            <option value="imp" {% if request.GET.cheque_type == 'imp' %}selected{% endif %}>ورود به انبار</option>
        </select>
    </div>
{% endblock %}